[2018-08-01 00:49] cuongdo opened #295 "Initial token implementation"
The initial token implementation will include:

- Basic ERC-20 functionality
- Mint (create new) tokens
- Burn tokens
- Pause & unpause transfer of tokens

Additionally, it will be upgradeable as required by #284.

This will not include wiring up the token to any user flows.

[2018-08-01 00:59] cuongdo opened #296 "Tool for distributing tokens to investors"
Once tokens are generated, we need to:
- Distribute tokens to all investors
- Enforce lockups
- Protect investor privacy

This would likely consist of two parts:
- A new smart contract to hold tokens during their lockup period
- A command-line JS tool that would distribute tokens to investors after the lockup period expires. It would take as input a file that @joshfraser and/or @matthewliu would c

[2018-08-01 01:05] cuongdo opened #297 "Tool for vesting employee token grants"
At a minimum, this tool would need to:
* Transfer tokens to a set of Ethereum address(es) for each employee, respecting each grant's vesting cliff and schedule
* Help preserve privacy of each grantholder
* Some sort of logging or way of reporting / verifying vesting-related actions
* A dry run mode to show operations without actually performing them, as a sanity check

This could be implemented as

[2018-08-01 01:31] DanielVF commented on #90
I agree, this issue is handled by the new listing contracts system.

[2018-08-01 01:31] #90 closed

[2018-08-01 04:40] franckc commented on #229
@tomlinton Did a few more tests:
 - issue is not specific to origin-dapp repo. I have sthe ame problem with origin-js and origin-bridge
 - when I modify a file from within a container (I spawn a batch then use vi), the change gets detected and a recompile kicks-in
 - when I modify the file from my host, the file content is changed on both host and in container but no recompile happens. so it looks

[2018-08-01 04:41] franckc commented on #229
@tomlinton Did a few more tests:
 - issue is not specific to origin-dapp repo. I have sthe ame problem with origin-js and origin-bridge
 - when I modify a file from within a container (I spawn a batch then use vi), the change gets detected and a recompile kicks-in
 - when I modify the file from my host, the file content is changed on both host and in container but no recompile happens. so it looks

[2018-08-01 05:03] tomlinton commented on #229
Thanks @franckc looks like it is [this issue](https://github.com/docker/for-mac/issues/681). I never tested this on OS X. I'll see if I can implement a work around for it.

[2018-08-01 16:44] wanderingstan commented on #203
Going to call this one closed, as there hasn't been activity in a while.

[2018-08-01 16:44] #203 closed

[2018-08-01 17:58] micahalcorn commented on #91
Started in https://github.com/OriginProtocol/origin-dapp/pull/319 ☑️

[2018-08-01 18:54] micahalcorn commented on #219
Done, and more specific token issues filed ✅

[2018-08-01 18:54] #219 closed

[2018-08-02 02:16] tomlinton commented on #229
@franckc I tried a few things on OS X to reproduce (bringing the containers up/down and using docker-compose restart, vim and atom for editors) but couldn't get it to happen. Seems like a very annoying issue though. Anyone else experiencing it?

[2018-08-02 16:17] micahalcorn commented on #229
Just a comment that my clean installation and setup took what seemed like a really long time. It certainly felt noticeably longer than the non-compose version, but I didn't think to time it. When it comes to alleviating developer frustration, we should also consider the possibility than many machines may not have the memory capacity to run this environment. Is that more or less of a concern with c

[2018-08-02 16:56] ahaidery19 commented on #229
@micahalcorn it makes sense that it would take longer than usual to stand up the environment for the first time since docker needs to download the corresponding images. Is it taking just as long to stand up the environment each subsequent time as well? Should be faster since the images are downloaded.

[2018-08-02 19:46] tomlinton commented on #229
@micahalcorn It should be significantly faster with docker-compose. This method does a lot of downloading so it is mainly dependent on your network. Without docker-compose it is CPU bound, it does a lot more compiling. I'll time both from a clean install today and see how it looks.

Regarding memory usage, I discussed it a bit above. It uses more this way, but probably only by around 20-30%. I'll

[2018-08-02 19:48] micahalcorn commented on #229
@tomlinton thanks, sorry I missed that. I skimmed through and searched "memory" but not "RAM". 🤦‍♂️

[2018-08-03 01:43] micahalcorn opened #299 "Delayed purchase state changes and/or logs"
This has been a lingering problem since the beginning of purchase state changes. It manifests itself in the DApp, but I think the underlying problem or misunderstanding happens in the library. It may resolve itself with @tyleryasaka's pending refactor.

After calling one of the purchase state change methods (`sellerConfirmShipped`, `buyerConfirmReceipt`, or `sellerGetPayout`), the result of a subs

[2018-08-03 03:06] tomlinton commented on #229
I benchmarked the builds with `time docker-compose build --no-cache` and cleared out everything in between with `docker system prune -a` and `docker volume prune`. I did it on two platforms. I didn't put the exact specs of the machines here but they aren't really needed as it is just for comparison. Here are the numbers:

**Linux** (Dell XPS 15)
compose branch - 5:05.02
master branch - 9:03.84

**

[2018-08-03 05:42] tomlinton commented on #229
I think it is working well. Not sure if there are any other regular origin-box users who want to give it a go.

I'm a bit concerned about the issue @franckc mentioned. It's a bug in Docker for Mac that we don't have much control over. I couldn't reproduce though. Did you run into it at all @micahalcorn? We could raise it as an issue anyway.

Yep it would negate that. It looks like it would close a

[2018-08-03 05:49] franckc commented on #229
Yes, I'm a bit worried about this issue I encountered. I'd be curious to see if anyone else encountered it.... @wanderingstan you tried the docker compose setup for the website. Were file changes you made from your host (for ex. while editing source code on your Mac) detected in the container and caused automatic recompilation of the stack ?

[2018-08-03 08:20] tomlinton commented on #229
@wanderingstan that issue you pointed out in Discord with flask-recaptcha should be fixed. Just pull the latest changes and run `install.sh -e origin-website` again.

@franckc you never experienced this issue with the `master` branch? From the looks of the issue thread it is caused by volumes and the `master` branch has them as well. If you were working inside the container you'd never run into it

[2018-08-03 14:28] micahalcorn commented on #299
I suspect that this issue is true for all blockchain transactions. See https://github.com/OriginProtocol/origin-dapp/issues/45 😕

[2018-08-03 21:40] micahalcorn commented on #264
This should wait until Tyler and Nick are done with the big contract and API refactor.

[2018-08-03 21:55] franckc commented on #229
@tomlinton A few more data points:
 - I downloaded Docker from docker.com - it is version 18.06.0-ce-mac70 (26399)
 - When I was having the issue on compose branch, the master branch was working fine
 - I just rebooted my Mac and now things are working fine for me on compose... !

Let me continue using compose over the week-end and see if I can reproduce the issue.

[2018-08-03 22:07] wanderingstan commented on #229
@tomlinton - It's working! Awesome. 🎉 Thanks for the clearly documented steps.

@franckc - Yes, it appears to detect local changes. I edited some text on the homepage and it was automatically there when I reloaded the page.

[2018-08-04 04:18] micahalcorn opened #301 "Messaging: Key Sharing"
In order to support arbitration, we need to handle the exchange of the conversation shared key between a buyer/seller and an arbitrator.

[2018-08-06 06:16] franckc commented on #229
Following up: my compose setup was stable over the week-end after I rebooted my laptop on Fri. So maybe the bug I encountered was just caused by some weird instabilities on my Mac ?  Anyway, given that nobody else had that issue, I think we can consider it is not blocking for moving forward.

If everyone is happy with docker compose, I'd suggest we make it our default origin-box setup by merging t

[2018-08-06 07:25] tyleryasaka commented on #229
So I spent a few hours today trying to get the `compose` branch to work. It's probably just something weird on my end, but my `origin-dapp` will not start properly. Some of the modules are apparently not being installed.

I tried rebuilding several times, including with the no-cache option. Same error every time.

If no one else is having this issue I'm fine with merging to master, but I am a bit

[2018-08-06 07:50] tomlinton commented on #229
@tyleryasaka I think you are missing #289 from your local copy of `origin-js`. The `origin-js`, `origin-dapp` and `origin-bridge` directories are placed directly in the containers so you can check out the files in there to debug. If you pull down the latest stuff on the develop branch in all three you should be fine, but let me know if not.

[2018-08-06 07:53] tomlinton commented on #229
Actually more likely the [corresponding PR](https://github.com/OriginProtocol/origin-dapp/pull/325) from `origin-dapp` that you are missing. :grin:

[2018-08-06 19:15] tyleryasaka commented on #229
@tomlinton I checked several times that I pulled the latest changes from `develop` when troubleshooting, so I don't think that was the issue. And yeah I realize the files are synced between local filesystem and container, I just wanted to check the node_modules directory inside the container (which is not synced).

I will keep troubleshooting though. Thanks!

[2018-08-06 19:39] tomlinton commented on #229
I have seen those errors before, but I can't remember how I fixed it. :disappointed: Here are some things that might help debugging though:

- The origin-js `node_modules` folder is a volume. Run `docker volume ls` and you should see a volume called `origin-box_origin_js_node_modules`. You can then run `docker volume inspect origin-box_origin_js_node_modules` and it'll show you the path to it on y

[2018-08-06 19:49] tyleryasaka commented on #229
Ok, finally got things working! I think some sort of caching was the culprit. Removed all my docker images and rebuilt everything from scratch, and that got it. Used https://stackoverflow.com/questions/46487684/docker-compose-cannot-find-new-node-module as a guide.

[2018-08-06 19:51] tyleryasaka commented on #229
I created a PR to merge the `compose` branch to `master`. https://github.com/OriginProtocol/origin-box/pull/29

[2018-08-06 23:02] tyleryasaka commented on #229
Completed by https://github.com/OriginProtocol/origin-box/pull/29

[2018-08-06 23:02] #229 closed

[2018-08-07 01:00] cuongdo opened #304 "Contract + Origin.js API for token stake required to earn commissions"
To be eligible for earning commissions on transactions, DApp partners will need to stake Origin tokens to incentivize legitimate earning of commissions.

This item tracks the contract & Origin.js API work for this effort, which are likely to be closely linked.

[2018-08-07 01:02] cuongdo opened #305 "UI components for commission earner token stakes"
To be eligible for earning commissions on transactions, DApp partners will need to stake Origin tokens to incentivize legitimate earning of commissions.

This is item for building the UI components for that effort.

[2018-08-07 01:04] cuongdo opened #306 "Wire up UI for commission earner token stakes"
To be eligible for earning commissions on transactions, DApp partners will need to stake Origin tokens to incentivize legitimate earning of commissions.

This item is for the work to integrate the UI components created in #305.

[2018-08-07 01:15] cuongdo opened #307 "Token staking for listings: contract + Origin.js work"
To incentivize legitimate and helpful behavior for sellers, we are going to experiment with one or more forms of staking Origin tokens for listings.

This task is for the contract and Origin.js API work, which are likely to be closely linked.

[2018-08-07 01:16] cuongdo opened #308 "Token staking for listings: UI components"
To incentivize legitimate and helpful behavior for sellers, we are going to experiment with one or more forms of staking Origin tokens for listings.

This tracks the UI component work for staking related to listings.

[2018-08-07 01:17] cuongdo commented on #306
Depends on #304 and #305.

[2018-08-07 01:19] cuongdo opened #309 "Token staking for listings: wire up UI"
To incentivize legitimate and helpful behavior for sellers, we are going to experiment with one or more forms of staking Origin tokens for listings.

This task tracks the work to wire up the API created in #307 with the UI components done as part of #308.

[2018-08-07 01:30] cuongdo opened #310 "Commissions: contract + Origin.js work"
As proposed by @nick and described in [his document](https://docs.google.com/document/d/1jhkl5uYYNUyLcQvLmswYzugFufLivXpbGCNQkKXBzlI/edit).

These are the general requirements:
* For v1, we are not going to allow buyers and sellers to negotiate the commission rate
* DApps will set a suggested or default rate, and the sellers may change that (similar to how Ethereum gas works)
* Commissions will be

[2018-08-07 01:31] cuongdo opened #311 "Commissions: UI components"
As proposed by @nick and described in [his document](https://docs.google.com/document/d/1jhkl5uYYNUyLcQvLmswYzugFufLivXpbGCNQkKXBzlI/edit).

These are the general requirements:
* For v1, we are not going to allow buyers and sellers to negotiate the commission rate
* DApps will set a suggested or default rate, and the sellers may change that (similar to how Ethereum gas works)
* Commissions will be

[2018-08-07 01:32] cuongdo opened #312 "Commissions: wire up UI"
As proposed by @nick and described in [his document](https://docs.google.com/document/d/1jhkl5uYYNUyLcQvLmswYzugFufLivXpbGCNQkKXBzlI/edit).

These are the general requirements:
* For v1, we are not going to allow buyers and sellers to negotiate the commission rate
* DApps will set a suggested or default rate, and the sellers may change that (similar to how Ethereum gas works)
* Commissions will be

[2018-08-07 01:33] cuongdo commented on #294
Closed in favor of #310, #311, and #312.

[2018-08-07 01:33] #294 closed

[2018-08-07 01:39] cuongdo opened #313 "Deploy Origin token to testnets"
Before deploying to mainnet, we need to deploy the Origin token contracts to Rinkeby and Ropsten. This will be good, needed practice before deploying to mainnet.

[2018-08-07 01:59] cuongdo opened #314 "Token: interact only with whitelisted set of contracts"
In the early days of our platform, we will initially want to limit the interactions the token contract has to a whitelisted set of contracts.

[2018-08-07 02:08] cuongdo opened #315 "Token: wire off use of tokens in API & UI"
As a way to protect against catastrophic bugs, the token contract will support pausing and unpausing of transfers. Use of this would lead to errors in the DApp whenever it uses the Origin.js API to try to transfer tokens. To improve UX in this error case, the API and UI need a way to wire off use of tokens for staking & commissions.

[2018-08-07 22:43] franckc commented on #283
As opposed to doing any computation in origin-js, this will likely involve origin-js passing some options (ex: exclude/include-hidden-listings or exclude/include-featured-listtings) when calling the bridge server to either get listings or search listings.

[2018-08-07 22:54] franckc commented on #290
I was chatting with @sparrowDom and we agreed it would be nice to have the following capabilities for the EventListener:
1. Ability to pass options on the command line argument or via a config file. This way, while deploying the same codebase, we could configure different instances of the EventListener to behave differently.
2. An option to have the EventListener wait N confirmations (N being conf

[2018-08-10 05:19] micahalcorn commented on #123
Considering this done per https://github.com/OriginProtocol/origin-devops/issues/16 :check

[2018-08-10 05:19] #123 closed

[2018-08-10 19:39] micahalcorn commented on #274
Done via #320 ✅

[2018-08-10 19:39] #274 closed

[2018-08-10 20:03] tyleryasaka commented on #281
Completed by https://github.com/OriginProtocol/origin-js/pull/325

[2018-08-10 20:03] #281 closed

[2018-08-10 23:25] tyleryasaka opened #329 "Create contract test for new v00 marketplace contract"
This is referring to the *contract* tests, in [this directory](https://github.com/OriginProtocol/origin-js/tree/develop/contracts/test). Not to be confused with our javascript integration tests.

This is the contract we want to test: https://github.com/OriginProtocol/origin-js/blob/develop/contracts/contracts/marketplace/v00/Marketplace.sol

[2018-08-12 02:05] wanderingstan commented on #217
Just want to say that this would be really helpful right now as I'm trying to debug the deployment. I may take a stab at this myself.

[2018-08-13 19:58] micahalcorn opened #330 "Listing Expiration"
Since overhauling the contracts, we no longer have listing expiration as a feature. [It was previously set at the contract level to 60 days](https://github.com/OriginProtocol/origin-js/pull/70). Do will still want this to be the case? Nick mentioned doing it in IPFS.

@nick @DanielVF @tyleryasaka ❓

Related: https://github.com/OriginProtocol/origin-js/issues/72

[2018-08-13 21:29] wanderingstan opened #331 "Specify node versions in package.json for origin-js and origin-dapp"
In debugging this release, @jordajm and I noticed that we are specifying a node version in origin-js ([here](https://github.com/OriginProtocol/origin-js/commit/35dd9ce1f1c9d464aabc86fc7a2b7fb06265cb30)) but _not_ origin-dapp.

1. We should be specifying a node version to remove surprises on heroku (and elsewhere) when default versions are changed.
2. We should have some discussion around which ver

[2018-08-13 21:34] micahalcorn commented on #331
If I recall correctly, our stuff does not work with 10.x so we should probably recommend 8.something.

[2018-08-13 21:43] tomlinton commented on #331
10.x doesn't work (I think due to js-ipfs and its dependencies, might need updating?). We use 9.x for origin-box for both origin-dapp and origin-js and they work fine. I can just update origin-box to use 8.x if we go with that though.

[2018-08-13 21:49] micahalcorn commented on #331
I've been using `8.5.0` since [February 2nd](https://github.com/OriginProtocol/origin-dapp/issues/60#issuecomment-360994914) with no issues. ☺️

[2018-08-14 03:40] DanielVF commented on #330
I think it's important to have an expectation that listings aren't forever, at least for the early days of origin.

Expiration Pro's:

- From an end user's point of view, they don't have to wonder as quite as much if the listing is still actually for sale or not.
- By expiring old listings, we can painlessly sunset old contract APIs in the early days. This will make our lives much easier.

Cons:

[2018-08-14 04:16] franckc opened #333 "Failure to get block timestamp after recording a transaction"
After creating a new listing, the DApp reported an error fetching the block.

<img width="1404" alt="screen shot 2018-08-13 at 8 49 48 pm" src="https://user-images.githubusercontent.com/945910/44071467-05e7553c-9f3e-11e8-9f4b-368477e3c118.png">

Wisdom from @micahalcorn:

[2018-08-14 05:33] #333 closed

[2018-08-14 08:42] nick commented on #331
Seems like we should switch to 10.x before October if that's the new LTS but if there's a dependency holding that up then 8.x is probably fine for now. My vote is for whatever works that's not deprecated 🙂

[2018-08-14 09:03] nick commented on #330
Yea agree we should have expiry but don't think we need to do it at the contract level.

We could just default it to 60 days initially (as long as the seller is made aware) or make it another field on the listing that the seller can edit.

I guess if we do another migration we can skip out old listings, if they're expired anyway?

[2018-08-14 21:46] wanderingstan opened #336 "Split listing and identity contract migrations"
We currently deploy nearly _all_ smart contracts in [2_deploy_contracts.js](https://github.com/OriginProtocol/origin-js/blob/master/contracts/migrations/2_deploy_contracts.js).

Because we may not always want to _also_ deploy user smart contracts, and for greater modularity, we should break smart contract "clusters" into separate migrations.

1. `initial_migration`
2. `deploy_marketplace_contracts

[2018-08-15 04:34] tomlinton commented on #331
I got curious so tested out 10.x in origin-box. It looks like `origin-dapp` is fine and `origin-js` just needs one dependency updated. I could put together a PR if we want to go to 10.x. No time like the present right?

[2018-08-15 16:26] micahalcorn opened #337 "Messaging: Connectivity Events"
When the WebSocket connection is made or lost, an event should be fired to support [a UI indicator](https://github.com/OriginProtocol/origin-dapp/issues/387).

[2018-08-15 16:30] micahalcorn opened #338 "Messaging: Conversation Syncing"
In some circumstances, it is possible for only one of the two users to get the shared room key stored in its local database. I'm not sure why this happens.

Potentially related: some users don't seem to be finding the other users' keys in Orbit.

[2018-08-15 16:34] micahalcorn opened #339 "Messaging: Decryption Race Condition"
In some circumstances, incoming messages are unable to be decrypted due to a race condition where the user's key is not yet available. A refresh solves this. Perhaps messages should be re-retrieved after the key is stored?

[2018-08-16 01:17] micahalcorn commented on #330
@matthewliu pointed out that there are a lot of additional consequences now if listings expire. For example, we would want to notify sellers that their listings are about to expire and we may have to handle refunding commissions or stakes. And as @nick points out, not all listings should expire so quickly. X number of days might be too arbitrary. Let's leave this out for Q3 and revisit later.

[2018-08-16 01:22] cuongdo opened #341 "Contract test coverage"
Before we launch to mainnet, we should have a way of measuring the coverage of our contract tests.

[2018-08-16 17:33] micahalcorn commented on #295
@cuongdo we should close this?

[2018-08-16 17:34] cuongdo commented on #295
Not yet, but I will with a PR I want to get out in the next day

[2018-08-16 20:36] cuongdo commented on #295
Just the contract changes are in #345

The rest of the changes will be done as a series of small(ish) PRs to prevent overload on reviewers.

[2018-08-16 20:42] cuongdo commented on #295
Resolved by #345

[2018-08-16 20:42] #295 closed

[2018-08-16 20:50] cuongdo opened #346 "Token contract integration"
Now that the basic Origin token contract has landed with #345, we need to integrate it into our code. These are the required steps:

- [ ] Fork / vendor OpenZeppelin token code
- [x] Replacing `contracts/Token.sol` with `contracts/token/OriginToken.sol`
- [x] Add Truffle migration for deployment
- [x] Integration into marketplace contract
- [x] Integrate OpenZeppelin token tests
- [x] Create our o

[2018-08-16 20:51] cuongdo commented on #346
cc @micahalcorn

[2018-08-18 01:37] micahalcorn commented on #346
Related https://github.com/OriginProtocol/origin-js/issues/314 & https://github.com/OriginProtocol/origin-js/issues/313 ☑️

[2018-08-18 01:57] micahalcorn opened #351 "Marketplace Tests"
Since the contracts have been overhauled in favor of the marketplace contract, the tests should be updated to include the appropriate coverage and include verification that upgradability works as intended.

[2018-08-18 02:48] micahalcorn commented on #214
I'm going to consider this done. 🍾

[2018-08-18 02:48] #214 closed

[2018-08-18 03:07] tyleryasaka commented on #351
Making this my priority now

[2018-08-18 12:10] nick commented on #351
There are some here, unfortunately not in the same format as everything else:

https://github.com/OriginProtocol/identity-playground/blob/marketplace/test/Marketplace.js

Could be an opportunity to move to instant running tests though 😬

[2018-08-18 12:27] nick commented on #351
I have some Marketplace (and identity) tests written [here](https://github.com/OriginProtocol/identity-playground/blob/marketplace/test/) which we can use, unfortunately not in the same format as everything else. Perhaps this could be a good time to switch away from Truffle-style tests so we can benefit from instant running, watchable tests using vanilla mocha. The [test helper script](https://git

[2018-08-19 20:33] nick commented on #351
I pushed a branch [here](https://github.com/OriginProtocol/origin-js/tree/nick/issue-336) with all the marketplace tests from the playground. You can try them out with `npm install` followed by `npm run test:contracts-alt`

[2018-08-20 12:54] cuongdo commented on #351
@nick I like instant reload of tests.

How does live watching work for `npm run test:contracts-altw` though? I ran that on your branch then intentionally put in a syntax error in `v01/marketplace.sol`. I didn't see the error or the `solc` output I expect from the recompilation of the contract. In contrast, when I run `npm run test:contracts`, it recompiles upon any JS or Solidity change.

What's i

[2018-08-20 13:17] nick commented on #351
Right now it's only testing version v00 but we can run all the same tests for v01 too.

As discussed on discord, migrating truffle tests shouldn't be too difficult, mostly just using web3 1.0 syntax instead of truffle-contract syntax.

[2018-08-20 13:31] cuongdo commented on #351
I like the speed of the plain Mocha tests. I'll defer to @tyleryasaka, as he's already working on tests.

[2018-08-20 20:52] wanderingstan commented on #214
🥂

[2018-08-20 21:32] tyleryasaka commented on #351
Thanks @nick I'll be trying out the truffle-free tests

[2018-08-20 23:51] tyleryasaka commented on #351
I'll be doing work on this branch: https://github.com/OriginProtocol/origin-js/tree/tyleryasaka/issue-351

@nick I moved your commit there, and out of the issue-336 branch (that's really dealing with something different).

[2018-08-21 17:55] tyleryasaka commented on #336
Resolved by https://github.com/OriginProtocol/origin-js/pull/352

[2018-08-21 17:55] #336 closed

[2018-08-21 22:19] micahalcorn opened #360 "Test Data Generation Script"
In preparation for scale, we should have script that generates thousands of test listings.

[2018-08-21 22:41] micahalcorn commented on #360
@DanielVF feel free offer your thoughts on this.

[2018-08-22 04:37] micahalcorn commented on #311
**Related**
https://github.com/OriginProtocol/origin-dapp/issues/424
(will list more as they get added)

[2018-08-22 13:41] DanielVF commented on #360
Probably a simple node script that loads origin.js as a library and then goes to town making data.

[2018-08-22 14:51] micahalcorn opened #361 "Return Listing Objects Instead of Ids"
See https://github.com/OriginProtocol/origin-js/blob/master/src/resources/marketplace.js#L42 🐘

[2018-08-22 18:05] ambertch commented on #360
The listings generation doesn't necessarily need to be complex either,
since any difference in a piece of content creates a different content
hash. If things like upload sizes or geolocation/geosearch have to be
tested, then specific types of test data will be required.

On Wed, Aug 22, 2018 at 6:41 AM, Daniel Von Fange <notifications@github.com>
wrote:

[2018-08-23 12:49] cuongdo commented on #250
As of #325, we emit updated IPFS hashes as events, so closing this.

[2018-08-23 12:49] #250 closed

[2018-08-23 12:53] cuongdo commented on #284
After a series of technical discussions, we've decided to not allow in-place token contract upgrading. Instead, we are creating a migration tool (Solidity + Node) to allow migration of state from an old, paused token contract to a new token contract. See #350

[2018-08-23 12:53] #284 closed

[2018-08-23 12:55] cuongdo commented on #277
The prototypes were created as part of #284, and the initial token implementation merged with #345

[2018-08-23 12:55] #277 closed

[2018-08-23 12:57] cuongdo commented on #106
We don't seem to need this any more, because #325 allows multiple marketplace contract versions to exist simultaneously

[2018-08-23 12:57] #106 closed

[2018-08-23 16:00] micahalcorn opened #365 "Finalization Window"
I'm either a bit confused or concerned about how the finalization window works. 🤔

If I understand correctly, the buyer (or DApp via a default) prescribes an absolute timestamp for the deadline, by which point the buyer is required to either initiate a dispute or forfeit the opportunity to dispute (either by finalizing or letting the seller finalize). In contrast, our previous transaction flow pro

[2018-08-23 17:29] victorwiebe opened #366 "Circular dependency to make ClaimHolderPresigned correctly"
https://github.com/OriginProtocol/origin-js/blob/0c09e12a823ae049906c84f66a8181b26ad96215/contracts/test/identity/TestClaimHolderPresigned.js#L21

Referencing: https://github.com/OriginProtocol/identity-playground/blob/0c9ba5c008d410e1ca82a2b1eed15705db49af0f/test/ClaimVerifier.js#L40

Hi there,
I've been doing an integration of this protocol into a new ethereum project. Something I have noticed i

[2018-08-23 17:31] victorwiebe commented on #366
@nick @tyleryasaka Would appreciate your response

[2018-08-23 19:52] tyleryasaka commented on #366
@victorwiebe Great question.

The key here is realizing that a contract's address can be deterministically computed, before the contract is actually deployed: https://ethereum.stackexchange.com/a/761.

In origin-js we take advantage of this and have a function to actually compute this address right before we deploy the contract: https://github.com/OriginProtocol/origin-js/blob/master/src/resources

[2018-08-23 21:46] tyleryasaka opened #369 "User registry upgradability"
Just like the marketplace, the user registry should be upgradable.

I propose that we follow the same structure that we use for the marketplace. We can have directories for each version of the user registry contract(s), and then adapters for each version. The resource will then tie all the adapters together.

[2018-08-23 21:52] tyleryasaka opened #370 "Force one-to-one relationship between wallet and identity in user registry"
This is blocked by: https://github.com/OriginProtocol/origin-js/issues/369

We currently guarantee that a wallet owns a registered ERC725 identity. But we do not enforce that an identity is used by only one wallet. It would be possible for someone to register their own custom ERC725 implementation on our user registry, and then share that identity among an unlimited number of separate ethereum wal

[2018-08-23 21:55] micahalcorn commented on #370
Good call 👌 This was definitely the intent, as I recall.

[2018-08-23 22:17] franckc commented on #369
+1 to this idea.

[2018-08-23 23:13] joshfraser commented on #366
@tyleryasaka great explanation & this is such a cool hack. We ought to write a blog post about it or something.

[2018-08-23 23:13] #366 closed

[2018-08-24 10:09] nick commented on #365
I think there could be a situation where the seller 'runs down the clock' and hopes the buyer does not start a dispute before the finalization window expires. I have heard of Ebay scams where the seller does exactly that: waits until the day before the buyer can no longer dispute the sale then sends a valid tracking number so the buyer thinks the item is on the way, only for the buyer to not recei

[2018-08-24 12:45] cuongdo opened #372 "Token contract tests for custom code"
Currently, the token tests consist of the ERC20 tests ported from OpenZeppelin 1.12.0. This does not cover the custom code we've added, such as:

* Limiting token burning to the contract owner
* Sender/recipient whitelist (#371)

We need tests for these before launch.

[2018-08-24 12:52] cuongdo opened #373 "Integrate marketplace tests into npm test"
The marketplace tests added in #364 aren't yet integrated into `npm test`, which means they're invisible to CI. Filing this to make more visible.

@tyleryasaka, not sure if you were planning to work on this

[2018-08-24 17:46] franckc opened #374 "Faucet for Origin token on Testnet"
In order to be able to test the DApp on Testnet, we'll need a way for test wallets to get credited with some OGN tokens.

A simple UI similar to https://faucet.ropsten.be/ will be exposed (perhaps hosted under https://faucet.originprotocol.com ?). The user enters her wallet address and will get credited with a fixed amount of tokens. There won't be any rate limiting.

Additionally, for ease of tes

[2018-08-24 18:03] franckc opened #375 "Support security deposit in marketplace contracts"
Marketplace contracts need to support the concept of "security deposit".

1. At listing creation time, seller enters an optional security deposit amount which is separate from the item amount.
2. Both security deposit and item amount must be in the same currency. In V1 the only currency supported is ETH.
3. Both item and security deposit amounts are "recommendation" from the seller and are not enf

[2018-08-24 18:06] franckc commented on #375
@matthewliu @wanderingstan Can you check I got those requirements right ?
Also CC @cuongdo @nick @DanielVF as FYI.

[2018-08-24 18:08] franckc commented on #374
CC @cuongdo @nick @DanielVF as FYI since this is related to the token project.

[2018-08-24 18:10] tyleryasaka commented on #373
@cuongdo Yeah I'll look into this. I would rather that we wait until we decide whether we're using the Truffle tests or the custom test helper. Then we can start migrating all our tests to that format and make sure `npm test` runs those tests.

I'll be looking into it.

[2018-08-24 18:12] matthewliu commented on #375
@franckc requirements LGTM. The only additional detail is the timeout periods. @micahalcorn

[2018-08-24 18:31] nick commented on #375
LGTM too. I’m currently working on adding non-binary arbitration to the
marketplace contract so can add this in too as it should be a fairly minor
change. I’ll just add one more parameter to makeOffer so that the refund
can be initialized to something other than 0. The refund can then be used
to return the security deposit.

On Fri, Aug 24, 2018 at 7:12 PM Matthew Liu <notifications@github.com>
wr

[2018-08-24 21:10] franckc commented on #375
@nick - If you are already updating that area of the marketplace code then let's not overlap. I'll let you add the security deposit support. Could you make me the reviewer though ? I want to catch up on contracts code... Thanks !

[2018-08-24 21:59] cuongdo commented on #373
Note that the OpenZeppelin token tests in `contracts/test/openzeppelin` are all imported from OpenZeppelin. Because OpenZeppelin is still gradually evolving their tests, it'd be nice to keep those tests in their [original form](https://github.com/OpenZeppelin/openzeppelin-solidity/tree/master/test/token/ERC20) (Truffle tests) to make merging test changes trivial.

[2018-08-25 00:15] cuongdo opened #376 "Marketplace compatibility with future token contracts"
Origin.js should get the token contract address through ENS, to allow even older Origin.js versions to access the current token contract.

[2018-08-25 02:01] DanielVF opened #377 ":headphones: Listener should be configurable with environment variables."

[2018-08-26 18:26] nick commented on #375
While implementing this I realized that it's probably better that the buyer is not able to 'pre-populate' the security deposit as they could theoretically finalize the offer and receive back their whole security deposit back. Taking the home share example:

- Seller creates listing specifying 100 DAI/nt + 200 DAI security deposit
- Buyer makes offer for 400 DAI (2 nights) with an auto refund of 20

[2018-08-26 21:53] micahalcorn commented on #311
Closing in favor of the following, more granular issues:

https://github.com/OriginProtocol/origin-dapp/issues/424
https://github.com/OriginProtocol/origin-dapp/issues/432
https://github.com/OriginProtocol/origin-dapp/issues/434
https://github.com/OriginProtocol/origin-dapp/issues/435
https://github.com/OriginProtocol/origin-dapp/issues/436
https://github.com/OriginProtocol/origin-dapp/issues/437

[2018-08-26 21:53] #311 closed

[2018-08-27 04:27] franckc commented on #375
I can't think neither of a normal case where it would be useful for the buyer to be able to pre-populate the security deposit refund...

The only caveat might be in case of a dispute that hasn't been escalated yet to an arbitrator and where seller/buyer are messaging each other to mutually agree on a resolution. Would we want both buyer and seller to be able to set the refund ? I think it would be

[2018-08-27 16:03] tyleryasaka commented on #373
@cuongdo Why are we running OpenZeppelin tests? Did we not decide not to modify the OpenZeppelin contract code? (If we're not modifying the OpenZeppelin contracts, we have no need for the tests.)

[2018-08-27 17:36] cuongdo commented on #373
We have some additions to the contracts to allow possible future token migrations (like Augur's) :
https://github.com/OriginProtocol/origin-js/pull/371

This restricts burning of tokens to the contract owner (OpenZeppelin allows any token holder to burn tokens):
https://github.com/OriginProtocol/origin-js/pull/345/commits/8add1d7985f6aa0ca838e66215bd030d0dbb5d1a#diff-a45ccc6cc0733f203d0983e4629180

[2018-08-27 18:19] matthewliu commented on #375
@franckc @nick i agree with what both of you have said above around the security deposits. i can't think of a situation where the buyer should be able to get his deposit back before the seller has a look.

@micahalcorn is going to add us explicitly on the issue for timeouts franck. let's have that discussion there.

[2018-08-27 19:17] matthewliu commented on #365
I share similar concerns as @micahalcorn here. There's a problem with different "rolling" expiries depending on when the seller takes action after the buyer's offer. So in one transaction the seller may advance the flow immediately, and in a second the seller may be slow and wait 20 days. From the buyer's perspective I'm much more likely to expect consistent behavior AFTER the seller has taken the

[2018-08-27 20:42] wanderingstan commented on #375
@franckc writes:

Ideally we'd want buyer seller agreement to be able to happen in either order. E.g. these should be equivalent:
1. Buyer requests 0.5 ETH refund, Seller agrees.
2. Seller offers 0.5 ETH refund, Buyer agrees.

Given the above, I'm not sure how we'd handle case (2). The seller would then need to take another action to "make it so"?

Or is there some fancy solidity coding where the

[2018-08-28 07:59] nick commented on #365
I'll modify the contract to support a relative finalization window by assuming that any given timestamp < 1bn (about 30 years) should be added to the current timestamp. That way we can support both an absolute and relative finalization window.

On top of that, after talking with @wanderingstan last night I realized that instead of the finalization window passing meaning the seller can finalize (an

[2018-08-28 16:14] nick commented on #365
A relative finalization window makes sense for some listing types, but not all. When selling my bike, I might want to specify a finalization time of '3 weeks after the seller accepts the offer'. But for a home share, it makes more sense to specify '3 days after checkout', especially if the booking is way in advance. The former would be a relative date while the latter would be absolute.

[2018-08-28 16:29] micahalcorn opened #378 "Flatten and Customize Marketplace Resource Objects"
The listing and offer objects, for example, currently return some key/value pairs at the top level of the object as well as some critical values nested in `ipfsData.data`. We should be returning thoughtful custom objects, potentially with some raw data nested for reference. As a part of this process, we should settle on property naming conventions, such as `sellerAddress` vs `seller` when the valu

[2018-08-28 16:51] micahalcorn opened #379 "Handle Listing Quantity"
There are a few cases that deal with a listing's quantity, which we should prioritize in the following order:

1. A single-unit listing sells - We need to be able to determine that it is "sold out" and prevent more sales. (Q3)
2. A sale occurs for a multi-unit listing - We need to know how many available units are remaining and conditionally prevent more sales. (not likely Q3)
3. A buyer purchases

[2018-08-28 19:08] cuongdo commented on #297
I've sketched out what I'm thinking:

![vesting contract](https://user-images.githubusercontent.com/1564582/44744809-d93b9600-aaba-11e8-88a7-581b61705a87.png)

The contract I have so far is here:
https://github.com/OriginProtocol/origin-js/blob/cuongdo/token_vesting/contracts/contracts/token/TokenVesting.sol

Some tests are here:
https://github.com/OriginProtocol/origin-js/blob/cuongdo/token_vesti

[2018-08-28 19:09] cuongdo commented on #297
@nick @joshfraser any comments?

[2018-08-28 20:08] tyleryasaka commented on #351
Made progress toward this goal with https://github.com/OriginProtocol/origin-js/pull/380 (thanks to @nick 's helper and tests), though I think we should examine the tests some more before calling this done. Just to make sure we have sufficient coverage.

[2018-08-28 20:29] matthewliu commented on #375
@nick @franckc I just want to understand if offer and refund explicitly break out the listing price vs. the security deposit. I understand that the math works out the same, but to me a refund is different from releasing the security deposit. In more complex scenarios that are yet TBD, I could see there being the possibility of treating these two sums of money very differently.

[2018-08-28 20:56] matthewliu commented on #365
Sorry, still having a hard time understanding terminology.

Is this what you mean by relative vs. absolute?

relative - not dependent on my last action, but dependent on the follow-on action of the counterparty?

absolute - dependent on my last action, regardless of when the counterparty takes the next step?

[2018-08-28 22:06] micahalcorn commented on #365
@matthewliu from my perspective, absolute means that the buyer (or DApp) sets an exact date for the end of the finalization window; i.e., `Tue Aug 28 2018 15:00:00 GMT-0700 (Pacific Daylight Time)`. Relative means the date which occurs some number of [milli]seconds/hours/days after some other event. In practice, absolute is _one_ stored value ([`finalizes`](https://github.com/OriginProtocol/origin

[2018-08-29 00:08] joshfraser commented on #297
This looks right to me. We may want to consider processing all the distributions on the same day of the month for added privacy, but that's an ongoing fight I'm having with @matthewliu.

It sounds like we'll need to keep a hot wallet on the server that is running the cron job to cover gas. Not a big deal given the amount at stake.

[2018-08-29 00:12] micahalcorn commented on #213
This is no longer enforced in the new marketplace contract. 🤕

[2018-08-29 06:41] franckc commented on #375
@matthewliu Here is what we have currently:
  - The contract only keeps track of a total amount (which is the sum of listing price+security deposit). The refund amount is variable between 0 and total amount. Under a normal scenario, when the transaction finalizes the refund amount is set to the amount of the security deposit (e.g. buyer gets back her deposit). But in case of a dispute, the refund

[2018-08-29 09:17] wanderingstan commented on #375
Not to complicate things, but we should also support the possibility of numbers being changed on either "side of the ledger":
E.g. the buyer may ask to stay an extra night, and then add more funds.
E.g. the seller may concede that the place wasn't cleaned, and reduce the price (moving it into the refund/security-deposit)

[2018-08-29 13:30] nick commented on #365
Yea that's the idea. The finalization variable is a timestamp (seconds since 1st Jan 1970) the buyer specifies when making an offer. I'm suggesting that if this value is < 1,000,000,000 then it be treated as 'number of seconds after buyer accepts offer' and otherwise be treated as the actual finalization time. That should let us support both use cases.

[2018-08-29 19:01] matthewliu commented on #375
@franckc got it. As long as origin-js and the DApp layer are sufficient, I'm cool with the contract being "simplified". Are there any edge cases we might be missing? Just want to make sure. I guess we are assuming (as we are with many other decisions at the moment), that people will not be interacting with the contracts directly.

@wanderingstan this does make things more complicated in all parts

[2018-08-29 19:27] micahalcorn commented on #213
It was decided in today's sprint meeting that this validation would be moved to the JavaScript layer.

[2018-08-29 22:14] franckc opened #384 "Faucet should auto-detect network"
Improvement: auto-detect Testnet network using web3 in the browser and pre-select that network in the faucet dropdown.

<img width="615" alt="faucet" src="https://user-images.githubusercontent.com/945910/44818504-12006b80-ab9e-11e8-8129-08981775f6ec.png">

[2018-08-30 00:38] cuongdo commented on #297
Update: we've had some discussions, but nothing conclusive yet. Will continue to explore ideas but will postpone further implementation until mainnet launch is further along.

[2018-08-30 04:36] franckc commented on #375
@matthewliu Yes, this assumes people do not interact with contracts directly but thru DApp/Origin-js. Which I think is ok as a start. BTW, to clarify, while the contract support for security deposit will be in V1 contracts, we haven't really discussed the UI flows. What is the priority of adding security deposit to the UI for V1 ?

@wanderingstan: I think the current contract should be able to sup

[2018-08-30 08:03] nick commented on #375
@franckc withdraw + make new offer only works if the seller has not already accepted the original offer. To solve that, I think it could be worthwhile to allow the buyer to add funds to an already accepted offer with a new 'addFunds' method. Since it's only adding (and not removing) funds, I think it should be a fairly simple and safe method to add.

[2018-08-30 08:14] nick commented on #376
Right now the token address is baked into the Marketplace contract and there is no way to update it. Perhaps we can add an updateToken method, then use the marketplace contract as the source of the active token address?

[2018-08-30 15:09] cuongdo commented on #376
@nick I like that idea. Would the new `updateToken` function be protected by `onlyOwner` from OpenZeppelin's `Ownable` contract?

[2018-08-30 15:12] nick commented on #376
Yep, that'd work. I'm not sure the marketplace needs all the features of Ownable though - we could just have a variable `owner` that is set to msg.sender in the constructor and checked in updateToken, perhaps?

[2018-08-30 21:13] cuongdo opened #388 "Migration of token approvals"
Currently, our [token contract](https://github.com/OriginProtocol/origin-js/blob/master/contracts/contracts/token/OriginToken.sol) does not support migration of approvals through `approve`, `increaseApproval`, and `decreaseApproval`. That's because all these methods rely on `msg.sender`, which makes migrations on behalf of other addresses impossible. This is problematic if any caller of the token

[2018-08-31 00:03] #379 closed

[2018-08-31 03:01] #376 closed

[2018-08-31 06:46] franckc commented on #375
@nick Ah yes, good point re withdraw+make new offer. Agreed that adding a "addFunds" method would work - I can take a stab at adding this.

[2018-08-31 16:35] micahalcorn opened #392 "Enable Sellers To Decline Offers"
Per this week's [sprint meeting](https://docs.google.com/document/d/1DvRWYhrr0UXdvhyZIpEd3WEU-1pQk2Frj1l-mQS8B4M), a listing will be considered "sold out" at the DApp level if there is one valid, outstanding offer (whether accepted or awaiting acceptance). And buyers will not be able to dictate their own offer terms. So in order to enable sellers to free up listings for other buyers, they will nee

[2018-08-31 16:40] micahalcorn commented on #351
Related: https://github.com/OriginProtocol/origin-js/issues/341 & https://github.com/OriginProtocol/origin-js/pull/393 & https://cuongdo.github.io/hacked_up_coverage/marketplace/v00/Marketplace.sol.html

[2018-08-31 16:57] #341 closed

[2018-08-31 21:04] micahalcorn commented on #375
📣 As decided in a meeting today with Matt, we will mock up the UI for deposits but not implement it in the DApp until we are ready to include fractional usage.

[2018-08-31 21:29] micahalcorn commented on #230
Closing this since THE BOX has moved on in a lot of ways 📦

[2018-08-31 21:29] #230 closed

[2018-09-02 09:00] wanderingstan commented on #375
@micahalcorn Good to know. This then settles self-arbitration as well, as it relies on having the "refund" value—so this will also have to wait until after V1.

[2018-09-03 14:13] DanielVF opened #400 "Marketplace offer status could wrongly return buyerReviewed"
"OfferData" events can be posted at any time, with any data.

However, if getListing sees that an `OfferData` event has happened on a listing, it automatically marks the offer status as if it was finalized and a review has happened.

Code here:

https://github.com/OriginProtocol/origin-js/blob/c3de7c423fc7d0ca393cc45b3ccdc783de754a8c/src/adapters/v00/marketplace_adapter.js#L183

[2018-09-03 14:53] nick commented on #388
I'm hoping we can avoid the need to migrate approvals as it'd likely mean more custom code that could possibly be construed as a backdoor.

Right now in order for a seller to stake Origin Tokens, they will first need to approve the Marketplace contract to transfer tokens on their behalf. Whenever we deploy a new Marketplace contract, they'd need to approve that new contract too (and possibly un-ap

[2018-09-04 02:49] nick commented on #392
This has been added as part of #401

[2018-09-04 02:50] nick commented on #375
`addFunds` has been added as part of #401 - the buyer can now add extra funds to an accepted offer.

[2018-09-04 03:10] #392 closed

[2018-09-04 13:38] cuongdo commented on #388
@matthewliu: This is is a product discussion, so looping you in. We don't need to necessarily implement anything for v1 as long as we pick options 1 or 2.

@nick I believe the latest thinking is that we're not implementing staking for v1. So, the main concern here is making sure the token contract code is feature complete for the foreseeable future.

I like option 2. A limited sum can still be eno

[2018-09-04 16:56] tyleryasaka commented on #77
This has been completed

[2018-09-04 16:56] #77 closed

[2018-09-04 17:10] tyleryasaka commented on #150
Will be resolved by: https://github.com/OriginProtocol/origin-js/pull/403

[2018-09-04 17:12] tyleryasaka commented on #373
Resolved by https://github.com/OriginProtocol/origin-js/pull/380

[2018-09-04 17:12] #373 closed

[2018-09-04 18:34] franckc commented on #375
Awesome. Thanks @nick !

Closing this issue since we now have everything needed for supporting security deposis at contract level for our initial release.

There is some work remaining at origin-js and dapp UI but that should be tracked via different github issues.

[2018-09-04 18:34] franckc commented on #375
Closing.

[2018-09-04 18:34] #375 closed

[2018-09-04 18:42] cuongdo opened #405 "origin.js API for getting OGN balance"
We need an API for retrieving the user's token balance, which will be displayed in several places, such as the following:

![image](https://user-images.githubusercontent.com/1564582/45050912-7add5d00-b050-11e8-88e0-f53a3a24d1b2.png)

[2018-09-04 18:45] micahalcorn commented on #405
Thanks @cuongdo, I was just about to ping you about this. Any idea how we will convert it to USD in the short-term?

[2018-09-04 20:39] micahalcorn commented on #351
@tyleryasaka how are you feeling about this one now?

[2018-09-04 20:49] micahalcorn commented on #290
@franckc do we consider this done with https://github.com/OriginProtocol/origin-js/pull/367?

[2018-09-04 21:49] franckc commented on #290
Yes. It is done. Closing this puppy.

[2018-09-04 21:49] #290 closed

[2018-09-04 21:55] #372 closed

[2018-09-04 21:57] franckc opened #407 "🎧 Listener - Add ability to wait N confirmations before processing an event"
Currently the EventListener processes events as soon as it receives them. See [code](https://github.com/OriginProtocol/origin-js/blob/master/daemon/indexing/listener/listener.js#L119).
For some uses cases (ex: mobile notification) we may want to hold off until N blocks have been confirmed so it would be good for the EventListener to support this capability (perhaps via an optional command line arg

[2018-09-04 21:58] franckc commented on #290
Filed #407 to specifically track the work on block confirmation, which is not implemented yet.

[2018-09-04 22:03] micahalcorn commented on #365
As discussed with @nick today, we will leave the contract intact as updated with https://github.com/OriginProtocol/origin-js/pull/382 to support a relative finalization window. For now, we will set the finalization window to an arbitrarily high value (say, a year or more) and allow the seller to initiate a dispute if the buyer becomes unresponsive. This will allow us to use the previously-defined

[2018-09-04 22:03] #365 closed

[2018-09-04 22:05] micahalcorn commented on #71
Since we [don't currently plan to use a reasonably short buyer timeout](https://github.com/OriginProtocol/origin-js/issues/365#issuecomment-418532841), we will skip this for now.

[2018-09-04 22:05] #71 closed

[2018-09-05 00:34] matthewliu commented on #388
@cuongdo @nick I'm still having a bit of trouble understanding this fully from a product perspective.

A. We don't need staking for sellers in v1, but should make sure we don't box ourselves in a corner.

B. I think I might be misunderstanding how the marketplace contract and desired staking work. When a seller stakes, aren't the tokens already "staked" and "controlled" by the marketplace contract

[2018-09-05 01:50] nick commented on #388
*When a seller stakes, aren't the tokens already "staked" and "controlled" by the marketplace contract?*
Yes, but since it's the marketplace contract initiating the token transfer, the seller must first give it permission to do so.

*Are we saying that this is not the case and that we are just giving the marketplace contract the ability to transfer at a later date?*
Since the approval must happen

[2018-09-05 06:18] franckc opened #409 "Listing IPFS data should include onchain data"
In order to save gas, the contract data related to a listing gets deleted when a buyer withdraws her listing. See ([code](https://github.com/OriginProtocol/origin-js/blob/master/contracts/contracts/marketplace/v01/Marketplace.sol#L121)).

In order to be able to trace the transaction history for a listing, we should store in IPFS the onchain listing data. Specifically:
- seller
- deposit
- arbitrat

[2018-09-05 12:35] cuongdo commented on #388
I think there are a lot of currently commonplace UX annoyances with DApps that won't be acceptable in the long-term.

That said, let's focus on what we can do better in the short-term. After further thought, I'm not convinced that approvals are sufficient. Consider the following events:

1. Seller acquires 50 OGN
2. Seller approves a 50 OGN allowance for the marketplace contract on wallet 1
3. Sel

[2018-09-05 14:40] #405 closed

[2018-09-05 14:59] nick commented on #388
Totally agree the UX is not optimal @matthewliu - though I think we can overcome it longer term with a mobile wallet solution, or possibly just managing a user's wallet, keys and ERC 20 balances ourself like Coinbase does.

@cuongdo we already have a kind of token escrow on the marketplace contract, in that the seller's tokens need to be transferred up front when creating a listing. Here's a modif

[2018-09-05 15:18] cuongdo commented on #388
@nick Thanks for clarifying. There’s a lot packed into the marketplace contract that I’m still digesting.

Option 2 does seem like the best short-term option.

[2018-09-05 17:48] matthewliu commented on #388
Let's do option 2 and then figure out a better solution later. Thanks guys for calling this out.

[2018-09-05 18:06] DanielVF opened #411 "📙 Discovery - need way to create and maintain elasticsearch mapping files"
Currently we are letting elasticsearch automatically create indexes and their mappings.

This is not a good long-term solution because every field ever sent will get its own index created.

We need something like a database migration tool that keeps creates and keeps up-to-date our index mapping as needed.

@franckc

[2018-09-05 18:35] franckc commented on #411
CC @sparrowDom since he is working on search.

[2018-09-05 19:28] cuongdo commented on #388
@nick Let's consider this scenario:

1. Seller acquires 200 OGN
2. Seller approves a 200 OGN allowance for the marketplace contract
3. Seller creates a listing with a 50 OGN stake. 50 OGN are transferred to the Marketplace contract and are no longer under the seller's control. The other 150 OGN are still approved but remain in the seller's wallet.
4. Seller transfers 150 OGN elsewhere. Their walle

[2018-09-05 19:38] nick commented on #388
To create another listing after step 4, the seller would **not** have to perform another approval. They'd just need to fund their wallet with sufficient OGN. An approved amount is only updated when `transferFrom` is called, or when the owner calls `increaseApproval` or `decreaseApproval`.

An approval can be more than the current balance... so it would also be possible for the seller to approve an

[2018-09-05 19:49] cuongdo commented on #388
Yes, that makes sense. I'm closing this issue, because we've decided not to migrate approvals if/when we migrate token contracts.

[2018-09-05 19:49] #388 closed

[2018-09-05 20:48] tyleryasaka opened #413 "Currently can't handle more than 5 presigned claims"
The transaction fails when we try to submit more than 5 presigned claims into the `addClaims` method. This is bad because we can currently have up to 6 claims presigned at once, if a user is ambitious when filling out their profile:
- profile name/bio (we submit this as a self-signed claim)
- twitter
- facebook
- airbnb
- email
- phone

If I were troubleshooting this, I would start by trying to de

[2018-09-05 21:16] tyleryasaka opened #414 "Only surface valid offers"
Offers are not validated at the contract level. People can submit offers for any amount of eth/token as well as any commission amount.

At the origin-js layer, we need to filter out all offers that are _invalid_, or do not have the price/commission specified on the associated listing.

[2018-09-05 21:26] cuongdo commented on #315
The Origin.js API for this is done via #410. During today's eng call, we decided that we'll quickly put together a UI for this should the need arise.

[2018-09-05 21:26] #315 closed

[2018-09-05 21:27] franckc opened #415 "Offer abstraction"
Similarly to what we have for listing, we should abstract out how the DApp accesses offer data.
This would involve:
- Adding a "Offer" object under /models and update the DApp to use it.
- Making the ListingIpfsStore more generic so that it can handle other types of data, including Offer

[2018-09-06 05:41] franckc commented on #409
@tyleryasaka @DanielVF We discussed this a bit during our engineering weekly meeting and you had some opinions... :)

A few additional notes on my side:
- I agree it is not ideal to duplicate data onchain and offchain, but it might not be that bad if we have the simple rule that if the data exists onchain it always takes precedence over offchain.
- I don't anticipate we would ever use the offchain

[2018-09-06 07:33] sparrowDom commented on #411
Good job bringing out this problem @DanielVF, sounds like a good approach @franckc.

I have not yet studied all the indexing capabilities of elasticsearch and what are the best practices. I can take this over (I will have time after the code freeze) or do you want to @DanielVF ?

[2018-09-06 12:44] DanielVF commented on #411
I'm good with you dealing with it, @sparrowDom. It will be good having a couple people know elasticsearch.

[2018-09-06 20:48] tyleryasaka commented on #409
I like your rule, but my only worry would be that people may forget or simply not know about the rule sometime in the future. This could include people at Origin or simply people building on top of Origin. They may see the `seller` listed in the ipfs data and simply grab the information from there without realizing that that data can't really be relied on. Feels dangerous to me.

Do we know specif

[2018-09-06 21:01] tyleryasaka opened #420 "Set correct issuer on ERC725 claims"
Each claim, at the contract level, has a field for `issuer`. This is not used for signature validation, but it does keep the claim id's unique. What we have works for Origin purposes, but to be fully ERC725 compliant we should be populating this field with the public key of whatever issuer was used to sign the attestation.

Really then, the server that is returning attestations should return the i

[2018-09-07 01:05] cuongdo commented on #258
I think we decided to punt on this. Removing my own assignment.

[2018-09-07 01:06] cuongdo commented on #314
Done via #371

[2018-09-07 01:06] #314 closed

[2018-09-07 01:09] cuongdo opened #422 "Token migration script"
While we have a token migration contract (#350), we don't yet have a JavaScript CLI for using it. It should be a more robust version of the [prototype I did earlier](https://github.com/cuongdo/origin-token-prototype/blob/master/test/test_pause_and_mint_upgrade.js).

I'm not aiming to finish this for the mainnet launch, because there are higher priorities.

[2018-09-07 01:11] cuongdo commented on #346
This is sufficiently done for me to close. The remaining tasks now have their own issues: #313 and #422

[2018-09-07 01:11] #346 closed

[2018-09-07 14:48] sparrowDom opened #424 "Do Usd to ETH conversion in search filters"
See that price in elastic search is indexes in Eth. When applying price filter first do the conversion from dollar to Eth by the current market value and then issue the filter to the backend.

[2018-09-07 14:50] sparrowDom opened #425 "Fuzzy search"
Configure Elastic search to support fuzzy searches. Also double check that fields like `id` are indexed correctly so that a complete match must be made so that query and index strings are equal.

[2018-09-07 16:29] DanielVF commented on #409
It is possible to query the blockchain as it was in the past. So for example, I can run a getListing(...) call against the blockchain as it was at any point in it's history. (Look at the "BLOCK PARAMETER" docs in https://infura.io/docs/api/post/eth_call)

Because of this, even if we are deleting data, it's still there for the getting - we just have to allow a block number to be passed as an option

[2018-09-07 16:52] franckc commented on #409
CC @nick

Super helpful comments - thanks @tyleryasaka and @DanielVF !
In particular I did not realize the blockchain can be queried at any point in history (it does make sense BTW).

To help making a decision, let's gather the use cases we anticipate we could need that deleted data for. I can drive this.

[2018-09-07 19:55] tyleryasaka commented on #409
Yeah if we do put the fields in IPFS, I would feel better if they were nested under a property that denotes them as being unsafe, such as the one @nick suggested (`__untrustworthyChainData`).

[2018-09-07 22:17] micahalcorn opened #426 "Messaging: Shared Key Expiration"
In order to support arbitration, we enable users to send their shared keys to arbitrators for message auditing. We need to handle expiration of those keys so that arbitrators cannot continue to eavesdrop on conversations that may arise involving the same participants. We need to also define the circumstances under which the key should expire. Should it happen automatically after the dispute is res

[2018-09-10 13:05] micahalcorn commented on #280
Resolved by https://github.com/OriginProtocol/origin-js/pull/421 ✅

[2018-09-10 13:05] #280 closed

[2018-09-10 17:57] franckc opened #432 "Implement seller staking in origin-js and contracts"
In order to support seller staking (see [UI mocks](https://app.zeplin.io/project/59fa2311bac7acbc8d953da9/screen/5b6025429c15b03b102c5130)), we'll need to make changes to origin-js:
- Update the listing JSON schema to add a separate field to store the amount of tokens stakes (perhaps named "sellerStake" or equivalent).
- Have origin-js marketplace.createListing() method populate that data based on

[2018-09-10 18:01] franckc commented on #432
CC @micahalcorn

@matthewliu To give you some context, I'm trying to understand if I should add staking to the Listing JSON schema for data stored in IPFS now vs after V1. Could you comment on the following to help me understand the directions and make that decision ?
- How soon do you expect we'll implement seller staking ? Is it a high priority right after V1 ?
- Could you clarify the product re

[2018-09-10 21:05] tyleryasaka opened #434 "Commit ABI files after each release"
We have decided, for the short term, to follow the process described by @wanderingstan in this comment: https://github.com/OriginProtocol/origin-js/pull/368#issuecomment-416367087

1. So after each release, we will store the resulting ABI files in a directory something like: `origin-js/contracts/releases/X.X.X/build/`.
2. Then in our origin-js build script, we will copy over the ABIs from the late

[2018-09-11 08:43] sparrowDom opened #437 "Configuration using `.env` files"
Currenlty `origin-js` doesn't have the capability of configuration using environmental variables. This should be added for convenience

Pull Request: https://github.com/OriginProtocol/origin-js/pull/431

[2018-09-11 11:13] DanielVF commented on #434
We might want to commit some abi files from the previous release, so we can start using this feature.

[2018-09-11 11:29] wanderingstan commented on #434
@DanielVF good idea. I'm just about to board my flight but will try to do this. Feel free to commit the ones from the .zip file currently there. Sadly those may be the only abi files we have. I previously saved the contract addresses in the [release notes](https://github.com/OriginProtocol/origin-js/releases), but that was all... :(

[2018-09-11 20:52] franckc opened #441 "Pin Origin messaging content on Protocol Labs IPFS cluster"
Protocol Labs offered to pin our content.

We'll need to send them IPFS hashes of our messaging data for pinning.
They have a [REST API](https://godoc.org/github.com/ipfs/ipfs-cluster/api/rest/client) we can call to send them the pins. It is a Go client but hopefully we can implement a simple JS version of it.

We could either
- have the OrbitDB server do the pinning
- have a separate daemon (the

[2018-09-11 20:53] franckc commented on #441
CC @tomlinton

[2018-09-11 20:56] franckc opened #442 "Pin Origin Listing data on Protocol Labs IPFS cluster"
Protocol Labs offered to pin our content.

We'll need to send them IPFS hashes of our messaging data for pinning.
They have a REST API we can call to send them the pins. It is a Go client but hopefully we can implement a simple JS version of it.

A possible solution would be to build this in as a plugin to the EventListener, since it is already capturing all the IPFS hashes via events emitted by t

[2018-09-11 20:56] franckc commented on #442
Related to #442

[2018-09-11 21:00] franckc commented on #442
CC @tomlinton

[2018-09-11 21:39] sparrowDom commented on #437
This was a bad idea. Origin-js does not need configurable values.

[2018-09-11 21:39] #437 closed

[2018-09-12 00:42] micahalcorn opened #445 "Message Object Schema"
As [recommended by @crazybuster](https://github.com/OriginProtocol/origin-dapp/issues/477#issuecomment-420434698) (and @franckc offline), we should prescribe (and probably version) a schema for the message object and move the logic into [the schemas directory](https://github.com/OriginProtocol/origin-js/tree/master/src/schemas). It is currently bare-bones and lives in [the messaging resource](http

[2018-09-12 19:36] #369 closed

[2018-09-12 22:17] franckc commented on #434
I will start working on this on Friday.

[2018-09-13 17:41] wanderingstan commented on #278
After discussions with @nick , we're not going to use ERC 792 for V1. It's simpler+cheaper to just put an offer into "dispute" mode rather than calling a method on an arbitrator contract. We can always add it back in later via a proxy contract.

[2018-09-13 17:41] #278 closed

[2018-09-13 17:44] wanderingstan commented on #279
More detail in product spec here: https://docs.google.com/document/d/1df8gDKzc1GueQs5mKsqGOychYUBw6XpqyPk-HYX8A3w/edit?pli=1#heading=h.vaa3qcofduhr

[2018-09-13 17:50] wanderingstan opened #453 "Arbitration: Minimal Arbitrator workflow"
Origin will be the sole arbitrator for our first version.

An employee with the "blessed" eth account needs to be able to:

- [ ] 1. See list of offers that are in dispute
- [x] 2. See the listing details for a disputed offer (for the time the offer was accepted, in case it has since changed)
- [ ] 3. Read the evidence (ie messaging between buyer and seller) for a disputed offer
- [x] 4. Engage in

[2018-09-13 17:52] wanderingstan commented on #453
@micahalcorn you mentioned that you have early versions of 3. (reading shared conversations) and a react component for an arbitrator UI.  What branches are these in?

[2018-09-13 20:54] micahalcorn commented on #453
Yeah, I haven't made PRs yet, but the branches are pushed. I will PR them if by some miracle I'm done with the UI before @jordajm is done with the API. I may need a little bit of guidance from you, @wanderingstan, if the ruling is more involved than a button in the seller's favor and a button in the buyer's favor. 🔘

[2018-09-14 20:39] wanderingstan opened #455 "Don't deploy fake sample listings on mainnet"
We should NOT be deploying the Taylor Swift, '77 Jeep, etc on mainnet.

This file needs to be modified to only deploy on non-mainnet networks:
https://github.com/OriginProtocol/origin-js/blob/master/contracts/migrations/3_create_sample_listings.js

Related: https://github.com/OriginProtocol/origin-js/issues/456

ALSO: I believe we currently make a listing as featured based solely on its low (<5) i

[2018-09-14 20:42] wanderingstan opened #456 "Decide on featured listings for Mainnet"
We can't be selling Taylor Swift concert tickets on the mainnet. :)

![image](https://user-images.githubusercontent.com/673455/45574125-2f833580-b82c-11e8-9f5a-3a3f51573103.png)

So what **DO** we want for featured listings on main net??? 😃

Related: https://github.com/OriginProtocol/origin-js/issues/455

[2018-09-14 20:53] micahalcorn opened #457 "Contract Response Codes"
Add response codes to all require statements so that contract consumers can get insights into why contract methods are failing.

[2018-09-14 21:04] joshfraser commented on #456
At a minimum, we should offer some Origin swag for sale. There are plenty of on-demand services that will let us offer a variety of mugs, shirts, etc without holding inventory.

@matthewliu @jonhearty @coleman415 would be better if we can line up some inventory from our existing partners. Keep in mind, they need to be single for sale items for now (no fractional usage or bulk sales).

[2018-09-14 21:08] micahalcorn commented on #456
That will require management of an[other?] ETH account similarly to messaging, arbitration, and whatever else. 🔑

[2018-09-14 21:09] wanderingstan commented on #456
Whatever we decide for listings, I think it'd be a nice touch to get professional photography done to keep the first impression of the DApp as high-production.

[2018-09-14 22:34] wanderingstan commented on #455
PR: https://github.com/OriginProtocol/origin-js/pull/460

[2018-09-14 22:58] franckc commented on #434
Implemented in #459. Closing

[2018-09-14 22:58] #434 closed

[2018-09-15 02:46] micahalcorn commented on #351
Considering this done via #436 ✅

[2018-09-15 02:46] #351 closed

[2018-09-15 02:50] micahalcorn commented on #415
Resolved by #430 ✅

[2018-09-15 02:50] #415 closed

[2018-09-15 12:44] matthewliu commented on #456
Agree with all points above.

The one caveat is we can hack some of the fractional usage or mult-unit
stuff through descriptive text. (Rent this home on this specific weekend or
purchase 5 concert tickets to this performance).

On Sat, Sep 15, 2018 at 6:10 AM, Stan James <notifications@github.com>
wrote:

--
Cofounder of Origin <http://www.originprotocol.com>

Join our Telegram <http://t.me/origin

[2018-09-15 12:47] matthewliu commented on #456
I'll work on this. Thanks for assigned.

On Sat, Sep 15, 2018 at 5:42 AM, Stan James <notifications@github.com>
wrote:

--
Cofounder of Origin <http://www.originprotocol.com>

Join our Telegram <http://t.me/originprotocol>

[2018-09-16 05:07] #170 closed

[2018-09-17 17:47] micahalcorn commented on #456
@matthewliu I had inferred from the mockups that boost was taking the place of featured listings, but I guess we might still have both. If so, we probably need a UI indicator for featured if we want it to be distinct.

[2018-09-17 18:14] sparrowDom opened #470 "Add tests for search functionality"
Recently search functionality has been added but there are no tests for it yet. The test should cover:
- Apollo loaded GraphQl schema without errors
- elasticsearch has spawned with fixtures
- calling `search` on `origin-js` returns the expected result:
  - title field is being boosted
  - comission is taken into account when ranking listings
  - fuzzy search is working
  - `minPrice` and `maxPric

[2018-09-17 21:57] wanderingstan commented on #456
My bad for not realizing that "Featured" was already out of the UI. But we presumably will want to pay to boost some of our own listings to the top.

[2018-09-17 22:02] micahalcorn commented on #456
@wanderingstan yeah, it was probably a poor assumption on my part. It makes sense that we might want to truly feature some listings as long as it doesn't conflict with the boost strategy.

[2018-09-17 23:53] #414 closed

[2018-09-17 23:58] micahalcorn commented on #301
Resolved by https://github.com/OriginProtocol/origin-js/pull/468 ✅

[2018-09-17 23:58] #301 closed

[2018-09-18 00:02] micahalcorn commented on #453
@wanderingstan I've updated this list with boxes checked. ☑️ I'll work on 3, investigate 1, and hold off on 5.

[2018-09-18 00:06] micahalcorn commented on #453
Actually, I'm going to move these to their own issues.

[2018-09-18 00:06] #453 closed

[2018-09-18 04:28] franckc opened #478 "Move sample listing creation our of truffle migration scripts"
Currently we create the sample listing via a [script](https://github.com/OriginProtocol/origin-js/blob/master/contracts/migrations/3_create_sample_listings.js#L15) that runs as part of the truffle migration steps. The script calls directly the marketplace contract method createListing as opposed to using origin-js. This causes issue since some logic in origin-js runs as part of listing creation to

[2018-09-18 05:57] matthewliu commented on #456
I don’t see the two as mutually exclusive. Also don’t see featured as a
long term must have (though I’d suspect that maybe some of our partners
would want it).

On Tue, Sep 18, 2018 at 7:02 AM Micah Alcorn <notifications@github.com>
wrote:

--
Cofounder of Origin <http://www.originprotocol.com>

Join our Telegram <http://t.me/originprotocol>

[2018-09-18 13:35] DanielVF commented on #360
Yay! We've got a basic version of this going in #448

[2018-09-18 13:35] #360 closed

[2018-09-18 13:47] cuongdo opened #481 "Marketplace getNotifications test timeout"
I get this error intermittently when running `npm run test:jsw` and in Travis CI:

[code]

Could you please take a look @tyleryasaka?

(This can wait until after feature freeze, since we're all pressed for time.)

[2018-09-18 13:57] cuongdo commented on #481
Possibly related intermittent failure:

[code]

[2018-09-18 14:46] cuongdo commented on #481
Here's an instance in Travis CI:

https://travis-ci.org/OriginProtocol/origin-js/builds/430083006?utm_source=github_status&utm_medium=notification

[2018-09-18 16:48] tyleryasaka commented on #481
@cuongdo Yes I was just mentioning this to @micahalcorn . I have been experiencing the same thing. (To reproduce, just leave `npm run test:jsw` open while triggering multiple runs of the tests by changing files. Each subsequent run of the notification tests will take a little longer, and soon they will cross the 10-second threshold.)

So our some of our tests (at least the notification tests) take

[2018-09-18 17:39] #455 closed

[2018-09-18 18:27] sparrowDom commented on #264
This has already been done by someone

[2018-09-18 18:27] #264 closed

[2018-09-18 20:07] crazybuster opened #484 "Prevent LocalStorage leaking for ipfs hosted dapps"
Messaging running under Dapps hosted by ipfs needs some of path enforcement on their cookies to ensure that other Dapps cannot access their localStorage.

[2018-09-18 21:32] tyleryasaka commented on #481
Ok, looks like this is an even bigger problem. TravisCI tests are frequently failing with this issue. Not always, but randomly failing tests are a very bad thing. 😬

[2018-09-19 02:01] cuongdo commented on #481
I haven't seen this locally since merging #486. I'm not sure what that'd be the case though.

[2018-09-19 02:03] tomlinton opened #491 "Optimise build script and allow builds when NODE_ENV is set to production"
It is not possible to do a production build without installing all of the devDependencies from the `package.json`. This is very slow, and since we have to build `origin-js` for other parts of the stack it makes updating deployments very slow also.

The build script [here](https://github.com/OriginProtocol/origin-js/blob/master/scripts/build.js) imports a lot of things we don't need for a productio

[2018-09-19 15:29] tyleryasaka commented on #481
@cuongdo Glad your initial issue seems to be fixed. Unfortunately the tests do take longer after each execution, so the problem I described is still there. 😦

[2018-09-19 16:20] micahalcorn opened #494 "Listing Withdrawal Confirmation"
There seems to be some issue with [the transaction confirmation callback and/or the object returned from `call`](https://github.com/OriginProtocol/origin-js/blob/master/src/services/contract-service.js#L217-L229) for [the `withdrawListing` method](https://github.com/OriginProtocol/origin-js/blob/master/src/adapters/marketplace/v00.js#L90-L98), which I haven't been able to quickly debug. The DApp l

[2018-09-19 17:44] micahalcorn opened #495 "Arbitration: Resolved UI"
We need to handle the components' state when arbitration is completed (both for the participants and the arbitrator.

[2018-09-19 19:12] sparrowDom opened #496 "Fuzzy search boosting"
Now that we have fuzzy search we should do the following:
- minor boost (0.5 for example) when fuzzy match in description field is found
- normal boost (1) when exact match in description field is found
- normal boost (1) when fuzzy match in title field is found
- bigger boost (2) when exact match in title field is found

[2018-09-19 19:42] #150 closed

[2018-09-19 19:52] tyleryasaka opened #499 "Move IPFS logic for users out of ethereumInterface and into users resource"
We shouldn't be touching ipfs from anything inside ethereumInterface. The resources are intended to tie IPFS and Ethereum together. We should refactor users to follow this practice.

[2018-09-19 20:10] tyleryasaka opened #500 "Determine issuers list"
We need a list of public keys for issuers to associate with our Origin identity on each network (mainnet, rinkeby, etc.)

[2018-09-19 21:22] tyleryasaka opened #501 "Solidity style guide"
Our solidity code style isn't consistent. We should probably conform to the style guide: https://solidity.readthedocs.io/en/latest/style-guide.html

[2018-09-19 21:58] franckc commented on #500
Code with keys: https://github.com/OriginProtocol/origin-js/blob/master/contracts/migrations/5_create_sample_issuers.js#L4

[2018-09-19 21:58] tyleryasaka opened #504 "Update docs"
Our documentation is not in sync with our current API. Should update before mainnet beta launch.

[2018-09-19 22:03] micahalcorn commented on #504
Related:

https://github.com/OriginProtocol/origin-docs/issues/25
https://github.com/OriginProtocol/origin-docs/issues/41
https://github.com/OriginProtocol/origin-docs/issues/45
https://github.com/OriginProtocol/origin-docs/issues/47

[2018-09-19 23:44] tyleryasaka opened #505 "Public-facing schemas"
We currently have schemas for our IPFS data. However, there is also use for public-facing schemas for our `models`. These will allow us to render the model data in a way that is agnostic about where the data came from and how it may have been stored there (e.g. it doesn't matter if we got a piece of data from a blockchain event or from an IPFS param). If we combine these schemas with versioned mod

[2018-09-20 01:59] cuongdo opened #508 "Create mainnet owner address whitelist"
Before deploying contracts to mainnet, we should add the addresses of any Gnosis multi-sig wallets that will own our token contracts to the [CLI owner whitelist](https://github.com/OriginProtocol/origin-js/blob/master/token/lib/owner_whitelist.js).

cc @joshfraser

[2018-09-20 02:05] cuongdo opened #509 "Define how throwaway accounts are to be created"
To simplify deployment of contracts, we will:
1. Deploy contracts using a "throwaway account"
2. Use the token CLI to set the owners of the token and marketplace contracts to a multi-sig wallet

The question is: what are the steps to create the "throwaway account"? Also, the throwaway account needs ETH to pay for the gas for the deployments. So, this process needs to include transferring enough ET

[2018-09-20 02:18] cuongdo opened #510 "Figure out ENS names"
Are we using ENS names for anything? Maybe the marketplace and token contracts?

[2018-09-20 03:09] joshfraser commented on #510
We currently own `originprotocol.eth` and `originid.eth` and I just started the process to acquire `originmarket.eth`, `originmarketplace.eth`, `originstore.eth`, `originarbitration.eth` and `originsupport.eth`. DM me if you think of others I missed that we should grab. There's a 7-character minimum, so unfortunately `origin.eth` unfortunately isn't an option.

Here's my current thinking on how to

[2018-09-20 03:33] joshfraser commented on #509
It's easy to create a new wallet in Metamask. I'm happy to send funds to whoever is doing the deploy.

[2018-09-20 03:40] franckc opened #511 "Optimize method saveDataURIAsFile"
The method ipfsService.saveDataURIAsFile seems sub-optimal.
I haven't had time to test thoroughly on Node and Browser but we should be able to replace it with something that does not involve converting every single byte into an Uint8Array.
[code]

[2018-09-20 03:54] matthewliu commented on #510
Perhaps:

origintoken.eth
originprotocoltoken.eth

On Wed, Sep 19, 2018 at 8:09 PM, Josh Fraser <notifications@github.com>
wrote:

--
Cofounder of Origin <http://www.originprotocol.com>

Join our Telegram <http://t.me/originprotocol>

[2018-09-20 05:18] franckc commented on #478
I have been trying to implement the following approach:
 - new method createSampleListing under scripts/helpers/create-sample-listing.js gets called by build.js
 - createSampleListing instantiates an Origin object then call Origin.marketplace.createListing

Code is on branch [franck/create_sample_listings
](https://github.com/OriginProtocol/origin-js/tree/franck/create_sample_listings)
But I'm hit

[2018-09-20 05:34] franckc commented on #511
I tested my suggestion on both Node and Chrome browser. But I agree more testing on different type of browsers would make me feel more confident...

I'm actually not clear on why we need to use Blob on browser... Why not passing a Buffer to the saveFile() method in all cases ?

[2018-09-20 05:55] tomlinton commented on #511
I think browsers don't have Buffer?

[2018-09-20 06:13] franckc commented on #509
We currently deploy *all* our contracts (token, marketplace, identity) using the *same* account because we use the truffle migrate tool.

Are we comfortable throwing away the account we use for deploying the [identity contracts](https://github.com/OriginProtocol/origin-js/tree/master/contracts/contracts/identity) ?
Is there any chance we would need that account for some operations on those contrac

[2018-09-20 06:39] joshfraser commented on #509
We don't actually have to throw away the keys, the point is that the ownership is going to be transferred to a mutisig wallet. The identity contacts don't have an owner, so it shouldn't matter for them.

[2018-09-20 06:47] franckc commented on #509
Yes, you are right, the identity contracts don't have an owner so should not matter.

[2018-09-20 10:07] sparrowDom commented on #424
Done via: https://github.com/OriginProtocol/origin-dapp/pull/503

[2018-09-20 12:48] DanielVF commented on #478
Though we would loose all our upgradability and future proofing logic, we can always just make simple json POST calls to IPFS and Ganache....

It's probably a terrible idea, but it's always possible...

[2018-09-20 13:11] cuongdo opened #513 "Run contract code through analysis tools"
As a starting point, it might be good to look at the [tools from Trail of Bits](https://blog.trailofbits.com/2018/03/23/use-our-suite-of-ethereum-security-tools/). There are a lot of good ideas in there.

Let me know if you want to divide and conquer, @tyleryasaka.

[2018-09-20 16:11] wanderingstan commented on #500
Also: I think we should rename the vars, as right now it uses `ISSUER_PROD` for any network that isn't `development`, ie rinkeby. Perhaps `ISSUER_STAGING` ?

https://github.com/OriginProtocol/origin-js/blob/master/contracts/migrations/5_create_sample_issuers.js#L45

[2018-09-20 16:16] wanderingstan commented on #500
I'm gonna just go with these addresses for now, though I don't know the source or who has the corresponding private keys. @tyleryasaka is that you?

[2018-09-20 16:43] tyleryasaka commented on #213
Some thoughts:

(1) Preventing seller from purchasing their own listing at the origin-js layer is not very useful. It doesn't help from a user experience perspective because we're already not showing the purchase button for user's own listings at the Dapp level. And it's not helpful from a security perspective because someone could just bypass origin-js and make a direct call to the smart contract

[2018-09-20 17:06] tyleryasaka commented on #513
@cuongdo Let's do it ⚔️

[2018-09-20 18:17] tyleryasaka opened #517 "Remove console.log statements from code"
At the very least, these should be stripped out during the build process for production. Personally, I think committing `console.log` to the codebase is bad form and that the linter should prevent it.

[2018-09-20 18:18] micahalcorn commented on #517
I don't disagree, but they have been very helpful for debugging messaging.

[2018-09-20 18:34] cuongdo commented on #457
I'm going to put in reason strings for our various contracts

[2018-09-20 18:38] cuongdo commented on #501
+1

[2018-09-20 21:41] franckc opened #521 "Faucet confirmation page does not show updated balance on Testnet"
To reproduce:
 - Go to https://faucet.staging.originprotocol.com/
 - Select Rinkeby, Enter your wallet address then submit
=> The confirmation page does not show the updated balance.
It could be that we are hitting the Infura load balancing issue where transaction is processed by one node but then the call to check the balance right after it is processed by another node which is hasn't synced the

[2018-09-21 01:44] #501 closed

[2018-09-21 13:40] DanielVF opened #524 "🐃 Listing images can be gif's"
Listing images can be set to gifs. This may not be desired.

[2018-09-21 13:43] micahalcorn commented on #524
Don’t take away my one remaining joy in this life. 😢

[2018-09-21 13:50] DanielVF opened #525 "🐃 Avatar can be GIF"
Avatar can currently be an animated GIF. This may not be desirable.

The DApp will convert a GIF to a JPEG when a profile update is done through the DApp. In order to reproduce this you will need to drop down a level and use origin.js.

[2018-09-21 14:05] DanielVF opened #526 "🐃 Avatar can be used to track viewers"
There's nothing preventing the avatar image from being an http link. This allows a user using one of these to get the ip address/browser/etc for everyone that views one of their listings or their profile. Could also be used to get the IP addresses of counterparties or arbitrators.

We need to remove avatar images that are not data urls.

To test:

[code]

[2018-09-21 14:08] DanielVF commented on #524
😢

[2018-09-21 16:56] DanielVF opened #527 "🐃 No OGN actually required to gain benefits of boosting"
A spam offer (say with a phone number to buy something from), can gain all the discovery placement benefits of boosting without using any OGN.

To do this, the evil listing just needs to store a commission in IPFS and not send any deposit with the eth transaction. Bingo!

Of course, the listing can't be purchased without a colluding purchaser, who sets the offer commission to zero.

Discovery rank

[2018-09-21 17:29] DanielVF opened #528 "🐃 Listing SecurityDeposit field does nothing"
This listing SecurityDeposit field is never used anywhere in the code. It is quite confusing with the "deposit" which is a real thing.

Per conversation with @nick, we will remove the SecurityDeposit field from origin.js and the IPFS schema.

[2018-09-21 17:47] DanielVF commented on #528
With a PR out for both the docs and origin.js, I'm closing this.

[2018-09-21 17:47] #528 closed

[2018-09-21 23:09] #457 closed

[2018-09-21 23:09] #313 closed

[2018-09-24 13:49] DanielVF opened #535 "🐃 No code to check that review.rating is actually between 1-5"
We currently don't check that a review rating coming from IPFS is between 1-5. This would allow an evil reviewer to mess up any future aggregated review rating score for someone by submitting an out of range review.

[2018-09-24 15:48] DanielVF opened #537 "🐃 Origin.js does not pass along the listing arbitrator, offer arbitrator, or offer affiliate"
Origin.js does not set the listing arbitrator, offer arbitrator, or offer affiliate in the models. This is a problem since knowing who the offer arbitrator is, is absolutely required to safely accept a offer. As it is, there's no way for the DAPP to be able to display this to the user.

[2018-09-24 15:59] cuongdo commented on #537
Because `listings` and `offers` are public variables in `V00_Marketplace`, Solidity auto-generates public accessor methods for them. So, given a listing's index, shouldn't it be possible to access the required info?

[2018-09-24 16:09] DanielVF commented on #537
Yes, I did miss that. Updated issue to be origin.js only.

[2018-09-24 17:51] franckc commented on #535
Good catch. Seems we should add some checks to cap rating between 1-5 in origin-js when writing and reading review data from IPFS.

BTW, what are we deciding on rating value. Is it an integer, one of [1,2,3,4,5] or is it a float between 1.0 and 5.0 ? I'd favor using integer for now to keep things simple. Any objections ?

[2018-09-24 17:56] franckc commented on #510
I assume this is not blocking for Mainnet launch, correct ?

[2018-09-24 18:02] DanielVF commented on #535
I'm good with changing it to an integer.

[2018-09-24 18:30] joshfraser commented on #510
FYI, we'll know by tonight whether we won the auctions. It's pretty easy for us to point them wherever we want.

[2018-09-24 21:57] franckc opened #538 "Index category and sub-category in search"
For example if a listing is under ForSale/Cars but does not have the work "car" in its title or description, we may still want to return it if someone searching for "car".

Low priority.

Also need to figure which locale to use for indexing cat/subcat: use the listing's locale ?

[2018-09-24 22:40] franckc opened #539 "Token whitelist can get bypassed by setting affiliate in marketplace contract"
Filing this issue to track the work that @cuongdo and @nick are doing.

[2018-09-24 23:01] micahalcorn opened #540 "Smart Contract Audits"
Just leaving a note here for any discussion relevant to the auditing of our smart contracts.

@nick mentioned that the identity contracts are very much in alpha status and may not be ready for auditing.

**To-Do**s
- [ ] add disclaimer comment(s) to the identity contract(s) @franckc

[2018-09-24 23:12] franckc opened #541 "Validate addresses of arbitrator, affiliate, messaging accounts"
This is part of hardening origin-js.

At the origin-js layer, we should throw an error in the following scenarios:
 - ~set messaging account to anything else than official Origin messaging account~
 - create listing that uses non official Origin arbitrator or affiliate account
 - read a listing where arbitrator or affiliate is not official Origin account

[2018-09-24 23:13] franckc commented on #541
@tyleryasaka we discussed the above during our security brainstorm this afternoon. Would you be ok adding some validation for this to origin-js ? Thank you sir !

[2018-09-24 23:27] micahalcorn commented on #541
There is no concept of the messaging resource being aware or caring about who is generating what message. So I think it's the DApp's responsibility to indicate whether or not a messaging user is a trusted Origin account. If I'm right, then I'm not sure why Origin.js needs that value. I'll update @franck's original comment.

[2018-09-24 23:31] micahalcorn commented on #541
I also think that @nick intended for the arbitrator on the listing to be the seller vs the arbitrator on the offer being the [Origin] centralized arbitrator in question.

Regardless, there is still a question of whether we hard-code the official Origin arbitrator and affiliate address in Origin.js for the time being or just let the DApp pass them in (from env vars) and go ahead and allow other DAp

[2018-09-24 23:38] wanderingstan commented on #541
As for which layer has the hard-coded address, I say we go with whatever is the easiest for now. Either approach will need adjustments once we have other partners/developers building on our code, and we could use a few more thought cycles on where the right place is. (I idealistically lean toward it being the DApp, but recognize that security may tilt us towards origin.js package.)

[2018-09-25 01:16] wanderingstan commented on #495
...well, ideally we'd show some note indicating if it was solved by arbitration. In the future, we're also distinguish between resolved via mediated arbitration vs self-settlment of participants.

Something like how AirBnB does here:
https://drive.google.com/drive/folders/1TD7nsX04W-2CAmceFG6Qgaj5WiUauYtC

[2018-09-25 06:43] franckc commented on #540
CC @tyleryasaka since he is very involved in everything related to ERC 725

[2018-09-25 10:30] tomlinton commented on #338
Is this something we've seen lately? If anyone has any possible ideas for reproducing please throw them out there. :grin:

[2018-09-25 16:54] tyleryasaka commented on #540
Yeah I'm researching identity heavily right now and have a lot of thoughts and ideas that I'm exploring. Agreed they will likely change a good bit in the near future.

[2018-09-25 17:46] tyleryasaka commented on #541
Discussed with @franckc , these were the takeaways:
- @micahalcorn you are correct, the arbitrator on the listing is currently being set as the seller and this appears to be intentional. The arbitrator on the offer is the entity that will resolve disputes between the buyer and seller on an offer.
- We will pass in arbitrator and affiliate for offers as config options from the Dapp to origin-js. Th

[2018-09-25 17:50] franckc commented on #541
CC @cuongdo since he is working on tightening up affiliate at marketplace contract level.

[2018-09-25 18:01] wanderingstan commented on #541
@tyleryasaka writes:

That doesn't sound right at all: Only the [_listing_ arbitrator](https://github.com/OriginProtocol/origin-js/blob/master/contracts/contracts/marketplace/v00/Marketplace.sol#L42) should be set to the buyer. This address decides who gets the OGN token.

The [_offer_ arbitrator](https://github.com/OriginProtocol/origin-js/blob/master/contracts/contracts/marketplace/v00/Marketpla

[2018-09-25 18:11] cuongdo opened #547 "Automate contract deployment"
For testnets and mainnet, our truffle migrations should:

* Transfer ownership of the token contract to the correct multisig wallet
* Transfer ownership of the marketplace contract to the correct multisig wallet

A separate command line tool should:
* Verify ownership of these contracts
* Verify that the marketplace contract points to the right token contract
* Perform other automated verification

[2018-09-25 20:31] micahalcorn commented on #338
I'm going to assume that our recent issues are attributable to the Go vs JS situation and move this to the backlog for now.

[2018-09-25 20:43] tomlinton commented on #338
@micahalcorn this was raised pre `go-ipfs` (that has only been in use for a week or so). I was thinking `go-ipfs` might have solved it so I asked about it above, but now that we are reverting back to `js-ipfs` it is probably still important.

[2018-09-25 22:35] #541 closed

[2018-09-25 22:39] tyleryasaka opened #551 "Origin-js should validate config options"
We want origin-js to throw an error if any necessary config options are not passed in to the origin-js constructor.

For example, `affiliate` and `arbitrator` should be required, at a minimum.

This is a safeguard against possibly catastrophic bugs that would result from someone careless (such as myself) forgetting to set an environment variable.

[2018-09-26 08:25] sparrowDom opened #555 "Create `options` object with callbacks"
As a proper rework of the idea tested in this PR: https://github.com/OriginProtocol/origin-js/pull/546 we should have an `options` object parameter in each `origin-js` method that has optional properties `transactionHashCallback` & `confirmationCallback`. In an attempt to unify the api approach how we deal with calls that result in ethereum transactions.

[2018-09-26 19:39] DanielVF commented on #537
Fixed for now in https://github.com/OriginProtocol/origin-js/pull/549

[2018-09-26 19:39] #537 closed

[2018-09-26 19:43] DanielVF commented on #159
Our current contract architecture handles all of this. YAY.

Closing this.

[2018-09-26 19:43] #159 closed

[2018-09-26 22:44] franckc commented on #521
Fixed in PR #545

[2018-09-26 22:44] #521 closed

[2018-09-26 22:51] franckc commented on #500
Marking this issue as blocking for the Mainnet launch.

@tyleryasaka can you confirm what value we should use for STAGING and PROD ?

[2018-09-27 01:16] micahalcorn opened #558 "Invalid Offer Developer Experience"
As mentioned [here](https://github.com/OriginProtocol/origin-js/pull/549#issuecomment-424766738) and [here](https://github.com/OriginProtocol/origin-dapp/issues/554#issuecomment-424843451), it may not be appropriate to [throw errors](https://github.com/OriginProtocol/origin-js/pull/549/commits/7ddc933a52f40cea49a5c8bcdb942f2704e3bf11) when invalid offers are retrieved. If a method is called, which

[2018-09-27 01:40] micahalcorn commented on #558
@DanielVF but if I call [`getNotifications`](https://github.com/OriginProtocol/origin-js/blob/master/src/resources/marketplace.js#L358-L383) and someone has injected an invalid listing that matches my filters, I will never get them, right?

[2018-09-27 02:07] micahalcorn opened #559 "Messaging: Missing Room Participant"
An edge case appeared recently in the staging environment where a room was created but one of the participants was missing the other. This likely resulted from the remote server failing to persist the data.

[2018-09-27 09:13] sparrowDom opened #560 "Category / subCategory indexing"
When we are indexing a listing it would be helpful and increase search quality if we were to add category and subCategory names to the indexing text. This way for example a Ferrari listed in `Cars and Trucks` subCategory would be returned in a `cars` search query.

A challenge is how do we translate category/subCategory fields.

One proposed solution is that we take into account the current locale

[2018-09-27 12:51] DanielVF opened #562 "🐃 Seller could steal money with bad IPFS data"
One attack we need to avoid:

- Seller lists listing
- Buyer makes offer
- Seller accepts offer, but with invalid IPFS data
- Buyer can't see offer anymore since origin.js won't load it, and can't dispute
- Seller waits until the timer runs out and takes money

Fortunately, this can't be don't today because we don't actually read the IPFS json from the accept event. If it were to work, it would go

[2018-09-27 13:02] #562 closed

[2018-09-27 19:15] crazybuster commented on #559
we could have the clients periodically update the counterparty time stamps in their conv-init dbs, but it might be overkill.

[2018-09-27 20:46] #547 closed

[2018-09-27 21:16] cuongdo opened #567 "Propagate require() reasons to the DApp"
When a require() in our contracts fails, they usually have a reason string that propagates to web3. This reason string is visible in our tests. For some reason, the require() is not propagating to to the DApp. Instead, we get a generic and unhelpful JSON-RPC error. This should be fixed to avoid wasting time investigating what should be simple issues.

[2018-09-27 23:26] micahalcorn commented on #484
Resolved by #565 ✅

[2018-09-27 23:26] #484 closed

[2018-09-28 01:13] cuongdo commented on #567
It doesn't look like this is possible, because MetaMask isn't propagating the reason string:

https://github.com/MetaMask/metamask-extension/issues/4559

I'll see if there's another way, but I'm not too optimistic, because the error object thrown by MetaMask doesn't contain any info except the error code and the generic error message.

[2018-09-28 01:32] micahalcorn opened #570 "Reviews Incentives & Finalization"
In today's UX review, it became clear that we still are not completely settled on how to incentivize both buyers and sellers to leave reviews, protect the buyer from mistakenly releasing funds, and also minimize gas costs.

In our original purchase states, the review step was combined with each the buyer's confirmation of receipt and the seller's withdrawal of funds. As a result, both parties were

[2018-09-28 02:38] DanielVF commented on #570
There's very little the buyer can do wrong, when compared to what the seller can do. We might not need positive reviews of the buyer from the seller. The buyer's job is pretty simple - give instructions for delivery and pay the money. And the money is already handled by the contract. If there are no delivery instructions, then the seller won't ship and will either keep the money or enter into a di

[2018-09-28 02:45] joshfraser commented on #570
It depends on the type of listing. Home share hosts probably care about the type of guests they invite to stay in their homes.

[2018-09-28 02:57] nick commented on #570
Agree seller reviews are more important for home or car rentals, but probably not if they're just selling goods, tickets etc. In general I don't think we should force reviews... they should be optional, as they are on traditional sites. I think we can incentivize good behavior with the token, or even just with UI hints like on the user profile, for example "leaves reviews 80% of the time" or "resp

[2018-09-28 03:03] joshfraser commented on #570
No one is going to want to pay gas to leave a review. I thought @DanielVF's original design of bundling reviews and payment was genius. I'm totally fine if reviews end up being simple "A++" style reviews, or even just a star-rating without any text. It's hard enough for traditional marketplaces to collect reviews without adding on additional gas costs.

[2018-09-28 19:29] crazybuster opened #573 "Support for old message phrases"
Currently if the user sees a phrase message on the network it doesn't try to use that message to generate the messaging key. It will use messaging phrase set in the code. Likewise if it sees another passphrase in the cookie it doesn't use that as well, so we could have quite a disconnect.

[2018-09-28 23:14] sparrowDom opened #576 "Apollo server unit tests"
Create unit/integration tests for Apollo server

[2018-09-28 23:40] franckc commented on #576
Super. Thanks for filing this. We should also add unit tests to the EventListener.

[2018-09-28 23:41] sparrowDom opened #577 "Event listener unit tests"
Create unit/integration tests for event listener

[2018-09-28 23:42] sparrowDom commented on #576
yeah my bad... here it is: https://github.com/OriginProtocol/origin-js/issues/577

[2018-09-29 00:42] matthewliu commented on #570
After reviewing a second time in-depth, I still really dislike confounding completing a sale (to release funds to the seller) and reviews. It is confusing and I believe reviews should be a separate step.

Short-term, I'm fine with it to bootstrap reviews. I anticipate we will see problems with the flow though, but let's try it and see adoption.

Mid-term, I think we will need to figure out a spons

[2018-09-29 17:54] wanderingstan commented on #500
@tyleryasaka writes in discord:

[2018-09-30 06:47] micahalcorn commented on #495
Resolved by https://github.com/OriginProtocol/origin-dapp/pull/634 ✅

[2018-09-30 06:47] #495 closed

[2018-10-01 18:50] franckc commented on #500
I verified that ISSUER_PROD is the public address for the ATTESTATION_SIGNING_KEY private key stored in production ENVKEY. I think we are all good so closing this ticket.

[2018-10-01 18:50] #500 closed

[2018-10-02 01:04] cuongdo opened #585 "Excess seller deposit is inaccessible unless listing is withdrawn"
Consider the following scenario:

1. Seller creates listing with commission of 100 OGN, which `createListing` transfers to the Marketplace contract
2. Buyer makes an offer with a commission of 25 OGN
3. Seller accepts offer
4. Buyer finalizes. Marketplace contracts pay 25 OGN to the affiliate, because affiliate payouts are based on the commission specified in the offer.

Now there's an excess of 7

[2018-10-02 01:10] nick commented on #585
For v1 my understanding that the buyer will always submit an offer for the full commission amount specified by the seller. So, unless the buyer is not using origin-js, I'm not sure this situation would arise?

[2018-10-02 01:16] cuongdo commented on #585
Yes, this can only happen if someone is not using origin-js. I'm not putting a high priority on this issue, but I thought it best to at least record it.

[2018-10-02 01:37] matthewliu commented on #585
Yea thanks for filing this. This is definitely not high priority but at
some point we should expect a minority of users to want to interact outside
of Origin JS. Potentially just to screw around.

On Mon, Oct 1, 2018 at 6:16 PM Cuong Do <notifications@github.com> wrote:

--
Cofounder of Origin <http://www.originprotocol.com>

Join our Telegram <http://t.me/originprotocol>

[2018-10-02 07:12] tomlinton commented on #491
This has become more important because we can't build `origin-js` with NODE_ENV=production for use in the staging deployment because of all the dev dependencies that get imported. We ran into an issue that we only discovered in the production deployment/published npm package because we didn't run the same setup in staging. Also I'm sure @franckc would appreciate any speed gains in deploying the DA

[2018-10-02 14:08] sparrowDom opened #587 "Ganache core chrash"
Using the latest version of Metamask crashes `ganache-core` module when confirming a `create-listing` transaction in Metamask.

**Environment: **
- `origin-js` (with ganache-core at 2.2.1), `origin-dapp` on master
- Metamask version 4.12.0 (doesn't happen on 4.11.2)

**Steps to reproduce:**
Just create any normal listing and after clicking "Confirm" in Metamask origin-js container should chrash wi

[2018-10-02 14:10] sparrowDom commented on #587
@nick @tyleryasaka @franckc if anyone of you has time, can you try to confirm the problem?

[2018-10-02 15:47] sparrowDom commented on #587
hmm can not consistently reproduce the problem atm... :/

[2018-10-02 15:55] tyleryasaka commented on #558
I'll fix this shortly

[2018-10-02 15:58] tyleryasaka commented on #491
I'm prioritizing this now. Shouldn't be difficult.

[2018-10-02 20:46] micahalcorn opened #591 "Identity Claims Not Found"
Several of us are able to reproduce an issue where phone, email, etc are supposedly published successfully, but they are gone when the profile page is refreshed. Upon further inspection, they appear to be recording, but @tyleryasaka suspects that the `ATTESTATION_SIGNING_KEY` may be wrong causing the attestations to be invalidated when retrieved. This is probably the top priority at the moment, bu

[2018-10-02 22:27] franckc commented on #591
Here is the check I did before deploying contracts to mainnet:

I used this script to validate that the address [ISSUER_PROD](https://github.com/OriginProtocol/origin-js/blob/stable/contracts/migrations/5_create_sample_issuers.js#L6) matched the ATTESTATION_SIGNING_KEY defined in ENVKEY:
`var Web3 = require('web3')
const web3 = new Web3()
console.log(process.env.ATTESTATION_SIGNING_KEY)
web3.eth.a

[2018-10-03 01:13] micahalcorn opened #593 "Gracefully Handle Requests For Non-Existent Listings"
If I make a request for a listing with an id that does not match the appropriate format, I get a pleasant error response:

`originTest.marketplace.getListing('garbage')`

But if I make a request with a "valid" listing id but the listing does not exist, I get a mess:

`originTest.marketplace.getListing('999-000-999999999999999999')`

The latter should be handled more gracefully.

[2018-10-03 02:56] tomlinton commented on #591
@micahalcorn what kind of setup were you using when you say local environment?

[2018-10-03 03:00] micahalcorn commented on #591
@tomlinton raw origin-dapp with `BRIDGE_SERVER_DOMAIN=bridge.dev.originprotocol.com` and local origin-js.

[2018-10-03 03:39] franckc commented on #591
@micahalcorn @tyleryasaka I'm trying to understand the impact of this issue. Do we have any evidence this is happening in prod ?

[2018-10-03 03:56] micahalcorn commented on #591
Haven't tried yet 😐 Has anyone published attestations, refreshed the page, and they're still intact? I heard vague indications to the contrary, but I'm not sure.

[2018-10-03 04:03] franckc commented on #591
I just tested on Mainnet. I saved my profile and it was still intact after I reloaded the page.
Now there is a known bug (see [DApp PR 639](https://github.com/OriginProtocol/origin-dapp/issues/639)) where upon publishing, the DApp fails registering callbacks and therefore the profile page still shows status unpublished and the pending blockchain transaction dropdown stays stuck at 0% for the profi

[2018-10-03 05:47] franckc opened #594 "Event-listener failing to process offer"
I noticed this error in the event-listener logs on the Mainnet (but it is not mainnet specific, I also saw it on Testnet):
[code]
The reference to "toLowerCase" makes me guess that it is related to a place in the code where we lower case addresses before comparing them. And the address is undefined, maybe because the transaction was finalized and as such the Offer data deleted in the blockchain ?

[2018-10-03 05:47] franckc commented on #594
@DanielVF @sparrowDom FYI in case you have an idea. This is not blocking for the release...

[2018-10-03 05:49] franckc commented on #594
Checked and https://dapp.originprotocol.com/#/listing/1-000-10 is in "pending" state. Meaning a buyer made an offer but the sale was not finalized yet. So my hunch about Offer data deleted from blockchain is probably not correct.

[2018-10-03 06:01] franckc opened #595 "Discovery server: price range query failure"
On the DApp on Mainnet, if I query for "Mountain" with a price range of [$222 - $231], the Discovery server returns an error. This is its response: https://gist.github.com/franckc/91a09a03040f61cbb51a728aaad4481d

So it looks like the query created for this price range may be invalid ?

Note that given price range the query should return zero listings (the only listing that matches "Mountain" has

[2018-10-03 13:34] cuongdo commented on #594
Using Remix on mainnet, I can confirm that the single offer for listing 10 is not deleted:

![image](https://user-images.githubusercontent.com/1564582/46413636-4358e380-c6d6-11e8-858c-2da6bf8ec30a.png)

Its status is 1, so it's in the "created" state.

[2018-10-03 14:49] DanielVF commented on #594
One easy way to get this error is to have an offer without an arbitrator or affiliate set, or to not have the arbitrator or affiliate set for the listener.

See code right here:

https://github.com/OriginProtocol/origin-js/blob/714ce4d5e7d2e3b051abedc0f23a5b783bdfc312/src/resources/marketplace.js#L136-L143

[2018-10-03 15:01] DanielVF commented on #594
I'm going to dig deeper on this one - the listener is definitely not picking up that offer, while seeming to pick up other offers.

[2018-10-05 04:42] franckc opened #602 "EventListener: insert data in offer table"
Currently the EventListener code does not insert data in the offer DB table.
This is needed for reporting purposed.

[2018-10-05 04:44] franckc opened #603 "EventListener: add timestamp and block_number to listing DB table"
For reporting purposed, we need to add a timestamp and block_number column to the listing DB table and the event-listener should populate those columns.

Also let's backfill the data.

[2018-10-05 04:51] #413 closed

[2018-10-05 19:34] #558 closed

[2018-10-05 21:08] franckc commented on #591
Tyler fixed an attestation saving issue on mainnet: https://github.com/OriginProtocol/origin-js/pull/598

So now this issue is only about making sure we can use bridge.dev.originprotocol.com when developing locally.

Downgrading to p1

[2018-10-08 18:15] franckc commented on #591
CC @tyleryasaka

Our bridge server setup is confusing:
1. Both staging and prod bridge deployment use the **prod** ENVKEY. As a result attestations issued by both staging and prod bridge use the same ATTESTATION_SIGNING_KEY
2. Though there is a separate ATTESTATION_SIGNING_KEY that is defined in ENVKEY for staging (but due to 1. it is not used)
3. The contract migration script does not handle rink

[2018-10-08 19:02] cuongdo opened #606 "Test error: Error during attestation validation: Error: Invalid signature v value"
When executing `npm run test:js`, I see this error scroll by:

[code]

Tests seem to pass though. I suspect we're not `await`ing an async function somewhere in the user resource tests, so mocha is not detecting the error. This happens in CI too. For example:

https://travis-ci.org/OriginProtocol/origin-js/jobs/437663625#L1617

[2018-10-08 19:02] cuongdo commented on #606
Assigning to @tyleryasaka, because he's already looking at the identity contracts

[2018-10-09 16:19] tyleryasaka commented on #591
@franckc just one thing to clarify:

We should make sure we do **not** add the rinkeby key to the mainnet issuer. Otherwise if anyone learns our rinkeby signing key they will be able to issue their own claims that appear to be valid in prod. I think this is what you meant, but just making sure.

Other than that looks great.

[2018-10-09 16:33] cuongdo commented on #508
Resolved via #563

[2018-10-09 16:33] #508 closed

[2018-10-09 16:48] franckc commented on #591
@tyleryasaka Yes, totally makes sense. I'll send a PR out and make sure to have you review it...

[2018-10-10 06:59] franckc commented on #594
I took a look and was able to reproduce in my local environment, using this command:
`node listener/listener.js --web3-url=https://mainnet.infura.io/emIXjs9eDuy57IlTYsIP --ipfs-url=https://ipfs.originprotocol.com --continue-file=continue`
My continue file was set to:
`{ "lastLogBlock": 6440925 }`

Daniel's hunch was correct... The issue is with an offer that does not have an arbitrator set.
I assu

[2018-10-10 16:14] micahalcorn opened #609 "Store Attestations In IPFS"
Per @joshfraser, let's store the Facebook, Twitter, and Airbnb IDs (or equivalent unique identifiers) in IPFS and include them in the API output so that the DApp can display and link to the verified profiles. For now, we will refrain from storing phone numbers and email addresses since we aren't prepared to hash and salt them and our identity implementation is a work in progress.

**Proposed Edit:

[2018-10-10 18:14] franckc commented on #609
There are 3 components to this:
1. Modify bridge server to return IDs in attestation response
2. Modify origin-js to store those IDs in the user's profile data stored in IPFS.
3. Update DApp to show links to Fbook/Twitter/Airbnb profile's page for the user

[2018-10-10 18:17] tomlinton commented on #609
I'm happy to take care of 1, it shouldn't be too hard since I've just been working on it. I'll raise an issue on `origin-bridge`.

[2018-10-10 18:30] joshfraser commented on #609
4. We need to update the UI when people add these attestations to make it very obvious what you're doing.

[2018-10-10 19:16] franckc commented on #609
I haven't checked the details, but for Facebook we might need the bridge server to actually return the profile URL rather than the ID. Reason is it may not be possible to construct a profile page url just based on ID ? We may have to call the Facebook graph API to get the profile URL, but then to do so an "App token" is needed. It would not be good to expose our "App token" in the DApp since anyon

[2018-10-10 19:29] joshfraser commented on #609
Not sure how reliable it is, but going to https://facebook.com/12703883 (my FB ID) redirects to https://www.facebook.com/joshfraser

[2018-10-10 20:01] sparrowDom commented on #595
Fixed via: https://github.com/OriginProtocol/origin-dapp/pull/713

[2018-10-10 20:01] #595 closed

[2018-10-11 14:13] sparrowDom commented on #609
Just reading up on Facebook Graph Api changes:
- facebook user id is not exposed anymore
- a user id is generated that is unique for each combination of FB user / FB app. And that id as expected does not resolve to user's profile. (These things can be tested in [GraphAPI explorer](https://developers.facebook.com/tools/explorer/)
- it is possible to get a link, but that will only resolve if viewed

[2018-10-11 17:32] micahalcorn commented on #609
@sparrowDom what _do_ we get when the OAuth flow is completed?

[2018-10-11 18:59] joshfraser commented on #609
Looks like they don't support that anymore due to abuse.

https://developers.facebook.com/blog/post/2018/04/19/facebook-login-changes-address-abuse/

I've always liked the publicly auditable proofs approach. It's the way [Keybase](https://keybase.io/) does it and basically what we're using for the Airbnb integration. If we went with this approach, we'd give people a sentence to publicly post on th

[2018-10-12 14:51] sparrowDom commented on #609
@micahalcorn in the [first step](https://github.com/OriginProtocol/origin/blob/master/origin-bridge/logic/attestation_service.py#L315) on bridge server we receive the `access_token` which we then use to query [user information](https://developers.facebook.com/docs/graph-api/reference/v2.2/user).

@nick I like your idea with showing the number of friends a person has. Since that is IMHO a good indi

[2018-10-12 16:03] nick commented on #609
@sparrowDom yea I'm thinking these attestations become much more valuable if we verify that data matches between services. Right now I can use a throwaway email, a throwaway SMS number and create throwaway profiles on Facebook, Twitter and Airbnb and still be 'fully verified' on Origin.

Here's how we could match data:

1. Users sign up to Origin with Full Name and Email. Email is stored privately

[2018-10-12 23:25] franckc commented on #594
Fixed in https://github.com/OriginProtocol/origin/pull/737

[2018-10-15 13:57] sparrowDom commented on #609
So I guess the main question here is where do we draw the line. Looking at random Airbnb host's [publicly available information](https://www.airbnb.com/users/show/6182888). I can only see if a user has verified Email, Phone, Facebook, Government ID & Google+. No additional information on those attestations is available.
<img width="1104" alt="screenshot 2018-10-12 15 05 10" src="https://user-image

[2018-10-15 20:18] joshfraser commented on #609
The checkmark works on Airbnb because they're a trusted intermediary if you ever need that information. A checkmark showing the existence of an email address is worthless information unless there's some path to seeing the raw data. The problem is we don't want to be the intermediary and holding PII is more of a liability than an asset.

One solution here is to verify data, sign an attestation and

[2018-10-15 22:12] #407 closed

[2018-10-16 18:00] franckc commented on #609
@matthewliu @joshfraser: Domen started implementing saving Twitter and Airbnb user ids to IPFS but he needs product requirements for what to do for Facebook. What shall we decide on that ?

[2018-10-17 10:58] sparrowDom commented on #609
Thanks for posting this from Discord @micahalcorn. I prepared a solution where twitter/airbnb platform ids are stored in the ERC725 claim in the `data` field. It is not "human readable" and is hex encoded but should be more resilient then storing IPFS address to claim's `data` field and fetching the information from IPFS. Is there any reason I might have missed why we would prefer having this in I

[2018-10-17 14:34] micahalcorn commented on #609
I think that we generally try to store as much data as possible off-chain to reduce costs. But I don't know how this data fits into the identity standard that we're currently using. @tyleryasaka, do you have a preference here, knowing that we may end up with a different identity implementation?

[2018-10-17 18:53] sparrowDom commented on #609
From reading [ERC735](https://github.com/ethereum/EIPs/issues/735) the values of `data` field are not really strongly defined. They can be anything that is required for that topic. For profile information we use that field to store IPFS hash, so that we can read the remainder of the data from IPFS. Which makes sense, since there is picture information in there.

As it stands currently IPFS hash ta

[2018-10-17 23:06] tyleryasaka commented on #609
@sparrowDom We should not be storing PII on-chain, as that data is irrevocable. I am still very nervous about IPFS but at least it's theoretically possible for IPFS data to be unpinned.

It's correct that ERC735 doesn't specify the format of claims. Regardless of which standard Origin ultimately uses, further standardization of the claims format is needed for the claims to be useful across other p

[2018-10-19 02:42] micahalcorn commented on #456
Considering this done ☑️

[2018-10-19 02:42] #456 closed

[2018-10-19 02:45] micahalcorn commented on #591
Done via #764 ✅

[2018-10-19 02:45] #591 closed

[2018-10-20 19:16] micahalcorn commented on #123
In an effort to enforce the decision made here, I've disabled merge commits and rebase merging on [the monorepo](https://github.com/OriginProtocol/origin). This may not be ideal for rare cases when we are merging a feature branch into another feature branch. If necessary, I can reverse this setting on-demand or permanently. Thanks to @tomlinton for the suggestion. cc @franckc @wanderingstan

[2018-10-25 07:38] sparrowDom commented on #609
Solved via: https://github.com/OriginProtocol/origin/pull/759

[2018-10-25 07:38] #609 closed

[2018-10-27 17:45] gauravsavanur07 commented on #307
I would like to work on this issue

[2018-10-28 17:06] micahalcorn commented on #307
Thanks for your interest, @gauravsavanur07 🙏 This task will require some discussion and planning from other members of the team, and it's not as much of a priority now as it was in August. Please feel free to share any thoughts or suggestions here, but it might be better to check out some of the "[good first issue" tasks](https://github.com/orgs/OriginProtocol/projects/2?card_filter_query=label%3A

[2018-11-12 15:54] filiplazovic commented on #296
Can i work on this issue?

[2018-11-12 21:11] micahalcorn commented on #310
I think this is done. 😐

[2018-11-12 21:11] #310 closed

[2018-11-13 21:32] cuongdo commented on #296
@filiplazovic: I should've updated this issue earlier, but I'm already pretty far along on this. Please take a look at the [other Solidity issues](https://github.com/OriginProtocol/origin-js/labels/solidity) and see if there's anything else that interests you.

[2018-11-14 16:45] filiplazovic commented on #296
@cuongdo Perhaps https://github.com/OriginProtocol/origin-js/issues/585?

[2018-11-19 19:38] micahalcorn commented on #524
For what it's worth, animations no longer survive due to automatic cropping. Should we just invalidate .gifs now?

[2018-12-03 05:53] jordajm commented on #139
@wanderingstan @franckc @micahalcorn  - Coming across this ticket just now made me realize that the new implementation of the models in origin-js had a side-effect that I hadn't thought about before.

That is, previously we were allowing a hypothetical dapp developer to extend the dapp listing schemas with any data they want and as long as it validates successfully against the origin-js listing sc

[2018-12-03 18:21] franckc commented on #139
@jordajm Those DApp custom fields will be returned in listing.ipfs.data.
For example let's say a DApp schema has numBedrooms, it can be accessed by the DApp as listing.ipfs.data.numBedroom.
Do you think it is not enough ?

[2018-12-03 18:59] franckc commented on #139
I'm going to close this issue since I think it is no longer relevant. Everyone feel free to re-open if you have reason to think otherwise.

[2018-12-03 18:59] #139 closed

[2018-12-12 19:53] micahalcorn commented on #213
Closing this for now based on the comments above 😐

[2018-12-12 19:53] #213 closed

[2018-12-12 19:58] micahalcorn commented on #540
[Done](https://drive.google.com/a/originprotocol.com/file/d/19oVP05ygCwgJzwTweOvIhdtPbhVCd2UJ/view?usp=sharing) ✅

[2018-12-12 19:58] #540 closed

[2018-12-14 14:53] victorwiebe opened #611 "Redundant code - or missing something?"
https://github.com/OriginProtocol/origin-js/blob/10191926afa6c52a0468fa5e6532ecff4e5b08fe/contracts/contracts/identity/KeyHolderLibrary.sol#L139

Hi trying to understand this line. It seems weird to OR || these two together, as you only need to call it once in claim type 2, as any claim types <=2 will pass. Why call function twice?

In the keyhaspurpose function there is this so that passing in 2

[2018-12-14 17:19] micahalcorn commented on #611
@victorwiebe this repo has been deprecated, so I'm going to migrate this issue. It does appear that [our contract](https://github.com/OriginProtocol/origin/blob/master/origin-contracts/contracts/identity/KeyHolderLibrary.sol) still contains the same code, but we are preparing to move away from this contract. You might also be interested in [the code and discussion from the ERC725 Alliance](https:/

[2019-02-02 01:44] mikeshultz commented on #217
I'm fiddling with this right now.  I'm wondering if including all of `process.env` might have the potential to expose sensitive data for a user, if they accidentally post the entire output with a bug submission.  I think it's pretty common for people to have API keys(and ugh, sometimes even passwords) stored in env.  Maybe we can create a whitelist?

Here's the format I've got going righ tnow, wou

[2019-02-02 04:05] franckc commented on #217
Thanks for looking into this @mikeshultz !
Perhaps we could dump something equivalent to what is shown on dapp-info page ?https://dapp.originprotocol.com/#/dapp-info

[2019-02-02 04:45] mikeshultz commented on #217
That seems pretty similar to my prototype, with the exception of the token details(which should be static, I imagine) and contract ABIs(would that be useful here?).  npm version should be provided in `npm_config_user_agent` or `npm_config_node_version` which fits my proposed env var white list.

@franckc, is there something specific from that page you'd like added to the console output?

[2019-03-13 22:51] tomlinton commented on #491
Closed as no longer relevant due to dapp2.

[2019-03-13 22:51] #491 closed

[2019-03-17 05:35] micahalcorn commented on #338
No longer relevant with the recent centralization efforts ☑️

[2019-03-17 05:35] #338 closed

[2019-03-17 05:36] micahalcorn commented on #312
Resolved long ago ✅

[2019-03-17 05:36] #312 closed

[2019-03-17 05:38] micahalcorn commented on #283
No longer relevant ☑️

[2019-03-17 05:38] #283 closed

[2019-03-17 05:39] micahalcorn commented on #235
I think this has been covered. 🗝

[2019-03-17 05:39] #235 closed

[2019-03-17 05:45] micahalcorn commented on #559
This should no longer be relevant thanks to the recent centralization efforts. ☑️

[2019-03-17 05:45] #559 closed

[2019-03-17 05:47] micahalcorn commented on #339
This should no longer be relevant thanks to the recent centralization efforts. :ballot_box_with_check:

[2019-03-17 05:47] #339 closed

[2019-03-18 17:56] micahalcorn commented on #524
Getting a user request to add back support for .GIFs 😁 And no, it's not coming from me.

[2019-03-20 18:16] #570 closed

[2019-03-20 18:16] micahalcorn commented on #570
Issue moved to [OriginProtocol/origin #1759](https://github.com/OriginProtocol/origin/issues/1759) via [**ZenHub**](https://www.zenhub.com/)

[2019-03-20 18:23] micahalcorn commented on #337
This is no longer necessary thanks to The Great Centralization 😁

[2019-03-20 18:23] #337 closed

[2019-03-20 18:25] micahalcorn commented on #299
Assuming this is a non-issue thanks to DApp:two:

[2019-03-20 18:25] #299 closed

[2019-04-03 18:34] micahalcorn opened #612 "[ignore]"
This is a test. 😇

[2019-04-03 18:46] #612 closed, assigned to nobody

[2019-04-03 18:46] micahalcorn commented on #612
Purgatory 🔥

[2019-04-03 22:38] micahalcorn commented on #296
Closing per @franckc 💰

[2019-04-03 22:38] #296 closed

[2019-04-03 23:04] micahalcorn commented on #593
Closing this since GraphQL 🤷‍♂️

[2019-04-03 23:04] #593 closed

[2019-04-03 23:05] micahalcorn commented on #494
Closing this since GraphQL 🤷‍♂️

[2019-04-03 23:05] #494 closed

[2019-04-03 23:05] micahalcorn commented on #378
Closing this since GraphQL 🤷‍♂️

[2019-04-03 23:05] #378 closed

[2019-04-03 23:05] micahalcorn commented on #361
Closing this since GraphQL 🤷‍♂️

[2019-04-03 23:05] #361 closed

[2019-05-19 21:11] micahalcorn commented on #374
Done 😁

[2019-05-19 21:11] #374 closed

[2019-09-19 21:19] hohwille commented on #123
Just a side-note: IMHO git-flow with `master` branch is flawed by design. It never worked if you do maintenance releases after having a major release out. Hence, building releases via an artificial `master` branch is an anti-pattern that should be discouraged. With feature based development and PRs there is no need for this at all.
I might be biased, just my personal oppinion with 15+ years of pro

[2019-09-20 04:51] micahalcorn commented on #123
Thanks for stopping by @hohwille 👍